[2015-09-29 23:26] jbavari opened #1 "Get app ability to get started easy as 1-2-3"
Allow user to run git clone & npm run app.

Nothing complicated.

[2015-09-29 23:26] jbavari opened #2 "Prune excessive Pages"
Since we started with the starter, remove the extra pages no longer being used by conference app.

[2015-09-29 23:26] jbavari opened #3 "Click on speaker and view sessions by speaker"

[2015-09-29 23:26] jbavari opened #4 "Click on session to see speaker information."

[2015-09-29 23:27] jbavari opened #5 "Ensure app can run on device"
Currently having an issue with the sourcemap files - for some reason ios simulator is a white screen of death.

[2015-09-29 23:28] jbavari opened #6 "Document the directive for date display"

[2015-09-29 23:28] jbavari opened #7 "Document the http service"

[2015-10-12 16:55] #2 closed, assigned to jbavari

[2015-10-12 16:55] #3 closed, assigned to jbavari

[2015-10-12 16:55] #4 closed, assigned to jbavari

[2015-10-12 16:55] jbavari opened #8 "Have the search bar only show sessions that match"

[2015-10-12 16:56] jbavari opened #9 "Filter Modal"
Implement the filter modal that filters out sessions by their tags or categories.

[2015-10-12 16:57] jbavari opened #10 "[bug] - hide the sticky headers on chrome/android when all/favorites is toggled"
Right now, open the app, add a favorite session, scroll down on the 'all' list.

Click 'favorites' segment button at the top to see the favorites.

You will see that last sticky header showing on the 'all' list.

The sticky header should be cleaned up when the containing list is hidden or taken out of view.

Same goes for the 'favorites' header when you go back to 'all' sessions.

[2015-10-12 16:58] jbavari opened #11 "Add categories to the session JSON data."
These categories will be filtered from the modal and the search bar.

[2015-10-12 16:59] jbavari opened #12 "Tap session information to view more information about session talk"
This should show the session details page with more information about the session

Categories
Detail
Time
Location (room)
Link to view more about speaker

[2015-10-12 17:00] jbavari opened #13 "Make speaker list look clean"
Add a tap to item to view speaker information
Show sessions from speaker
Make it look nice.

[2015-10-12 17:01] jbavari opened #14 "Finish About Page"
Make the about page look better

[2015-10-12 17:01] jbavari opened #15 "[Refactor] - rename the session detail and speaker detail pages"
They should follow the convention of having hyphens in the name

Instead of sessionDetail - it should be "session-detail"

[2015-10-13 06:10] jbavari opened #16 "Dont allow duplicate sessions to be added when tapping 'add favorite'"

[2015-10-13 17:12] #15 closed, assigned to jbavari

[2015-10-13 17:13] #1 closed, assigned to jbavari

[2015-10-13 17:13] #5 closed, assigned to jbavari

[2015-10-13 17:28] jbavari opened #17 "[bug] - Search bar fires update for searchQuery"
If you scroll in the app, you'll see the search bar doing an update and firing the `getItems` method in `schedule.js`.

The search bar shouldnt be firing a change event on scroll. It even fires the event on a click.

Figure it out, and fix it.

[2015-10-13 20:13] #12 closed, assigned to jbavari

[2015-10-13 23:20] #13 closed, assigned to brandyscarney

[2015-10-14 18:39] brandyscarney opened #18 ""No Favorites" shows when there are no search results"
![screen shot 2015-10-14 at 2 39 49 pm](https://cloud.githubusercontent.com/assets/6577830/10493882/70ad6f60-7281-11e5-9ed0-1bb2cf9a9d32.png)

[2015-10-14 19:47] #18 closed, assigned to brandyscarney

[2015-10-14 21:17] #11 closed, assigned to brandyscarney

[2015-10-14 22:07] brandyscarney opened #19 "Fix times on schedule json"

[2015-10-14 23:07] #19 closed, assigned to brandyscarney

[2015-10-15 18:55] #14 closed, assigned to brandyscarney

[2015-10-15 20:33] #16 closed, assigned to brandyscarney

[2015-10-15 20:58] #8 closed, assigned to brandyscarney

[2015-10-16 02:36] adamdbradley opened #20 "Clickable items should be a <button>"
Instead of:

[code]

it should be:

[code]

Also, the right arrow will automatically get added, and the 300ms delay will correctly kick in. And for accessibility reasons (the screen readers and when keyboard tabbing through elements, it has no clue that this random element is clickable and does important stuff).

[2015-10-16 02:50] adamdbradley opened #21 "Remove all uses of @View"
https://github.com/driftyco/ionic-conference-app/blob/1fd76dd2cd9916412eae85086e4fe38125204f34/www/app/components/schedule-list.js#L12

https://github.com/driftyco/ionic-conference-app/blob/master/www/app/components/date-format.js#L9

[2015-10-16 02:56] adamdbradley opened #22 "Order of sass imports"
If a user created overrode ionic's sass variables with their own, from within their own css, they'd have to have `ionic` scss below their app's right?

https://github.com/driftyco/ionic-conference-app/blob/master/www/app/app.scss#L31

[2015-10-16 18:10] #10 closed, assigned to brandyscarney

[2015-10-17 02:00] adamdbradley opened #23 "Remove all unused css"
https://github.com/driftyco/ionic-conference-app/blob/master/www/app/home/home.scss#L3

Make sure we're not adding any more css than needs to be there.

[2015-10-17 02:02] adamdbradley opened #24 "Remove all unused attributes/css classes"
If it's not adding any value or use, it needs to be removed:

https://github.com/driftyco/ionic-conference-app/blob/17fa68ca4fce28757770763952660b72bc438008/www/app/home/home.html#L2

Check each of the files plz

[2015-10-17 02:04] adamdbradley opened #25 "Do not import/inject variables that aren't being used"
https://github.com/driftyco/ionic-conference-app/blob/master/www/app/home/home.js#L1
https://github.com/driftyco/ionic-conference-app/blob/master/www/app/home/home.js#L3
https://github.com/driftyco/ionic-conference-app/blob/master/www/app/home/home.js#L18
https://github.com/driftyco/ionic-conference-app/blob/master/www/app/home/home.js#L19
https://github.com/driftyco/ionic-conference-app/blob/mast

[2015-10-17 02:06] adamdbradley opened #26 "What is the `id="login"` being used for?"
https://github.com/driftyco/ionic-conference-app/blob/master/www/app/login/login.html#L8

https://github.com/driftyco/ionic-conference-app/blob/master/www/app/login/forgot-password.html#L8

[2015-10-17 02:07] adamdbradley opened #27 "If there's no `href`, it should be a `<button>`"
https://github.com/driftyco/ionic-conference-app/blob/master/www/app/login/login.html#L21

[2015-10-17 02:09] adamdbradley opened #28 "Is both ng-control and [(ng-model)] required?"
[code]

https://github.com/driftyco/ionic-conference-app/blob/master/www/app/login/forgot-password.html#L12

[2015-10-17 02:10] adamdbradley opened #29 "ion-navbar should not be within ion-content"
https://github.com/driftyco/ionic-conference-app/blob/master/www/app/map/map.html#L2

https://github.com/driftyco/ionic-conference-app/blob/master/www/app/schedule/schedule.html#L2

https://github.com/driftyco/ionic-conference-app/blob/master/www/app/session-detail/session-detail.html#L2

https://github.com/driftyco/ionic-conference-app/blob/master/www/app/speakers/speakers.html#L2

many others th

[2015-10-17 02:11] adamdbradley opened #30 "Is ion-pane required here? Can you use nothing instead?"
https://github.com/driftyco/ionic-conference-app/blob/master/www/app/modals/filter-schedule-modal.html#L1

[2015-10-17 02:13] adamdbradley opened #31 "Remove any comments that aren't describing the JS"
https://github.com/driftyco/ionic-conference-app/blob/master/www/app/schedule/schedule.js#L28

https://github.com/driftyco/ionic-conference-app/blob/master/www/app/schedule/schedule.js#L45

https://github.com/driftyco/ionic-conference-app/blob/master/www/app/schedule/schedule.js#L69

[2015-10-17 02:13] adamdbradley opened #32 "Are FORM_DIRECTIVES still required here?"
https://github.com/driftyco/ionic-conference-app/blob/master/www/app/schedule/schedule.js#L5

If they are required, please submit an issue in the ionic2 repo

[2015-10-17 02:14] adamdbradley opened #33 "No spaces between decorator and class"
https://github.com/driftyco/ionic-conference-app/blob/master/www/app/schedule/schedule.js#L14

https://github.com/driftyco/ionic-conference-app/blob/master/www/app/session-detail/session-detail.js#L6

[2015-10-17 02:17] adamdbradley opened #34 "Remove used functions"
https://github.com/driftyco/ionic-conference-app/blob/master/www/app/session-detail/session-detail.js#L14

[2015-10-17 02:21] adamdbradley opened #35 "Reduce css nesting"
If the nested is required to override Ionic, cool. If not, remove as much nesting as possible:

https://github.com/driftyco/ionic-conference-app/blob/master/www/app/speakers/speakers.scss#L2

Bottom line, only do nesting when you absolutely have to. Prefer a more specific css classname over nesting classes.

[2015-10-17 02:23] adamdbradley opened #36 "Each css selector gets a new line"
Instead of

[code]

It should be

[code]

https://github.com/driftyco/ionic-conference-app/blob/master/www/app/home/home.scss#L33

[2015-10-17 02:38] adamdbradley opened #37 "Every @Page component should get its own file"
https://github.com/driftyco/ionic-conference-app/blob/master/www/app/login/login.js#L36

[2015-10-17 02:46] adamdbradley opened #38 "No type="text/javascript""
I know google maps probably added it, and you see it everywhere, but it's not need and looks ugly:

https://github.com/driftyco/ionic-conference-app/blob/master/www/index.html#L16

[2015-10-17 02:48] adamdbradley opened #39 "Meta charset must be the very first element in the head"
`<meta charset="utf-8">`

https://github.com/driftyco/ionic-conference-app/blob/master/www/index.html#L5

https://code.google.com/p/doctype-mirror/wiki/MetaCharsetAttribute

[2015-10-17 22:29] #22 closed, assigned to brandyscarney

[2015-10-17 22:29] #36 closed, assigned to brandyscarney

[2015-10-17 22:29] #38 closed, assigned to brandyscarney

[2015-10-17 22:29] #39 closed, assigned to brandyscarney

[2015-10-17 22:39] #34 closed, assigned to brandyscarney

[2015-10-17 22:39] #33 closed, assigned to brandyscarney

[2015-10-17 22:39] #31 closed, assigned to brandyscarney

[2015-10-17 23:00] #23 closed, assigned to brandyscarney

[2015-10-18 00:55] #21 closed, assigned to nobody

[2015-10-18 01:24] #25 closed, assigned to nobody

[2015-10-18 01:27] #32 closed, assigned to nobody

[2015-10-18 01:41] #28 closed, assigned to nobody

[2015-10-18 01:41] #26 closed, assigned to nobody

[2015-10-18 01:42] #27 closed, assigned to nobody

[2015-10-18 01:44] #17 closed, assigned to jbavari

[2015-10-18 01:49] #29 closed, assigned to nobody

[2015-10-18 01:51] #6 closed, assigned to jbavari

[2015-10-18 02:06] #7 closed, assigned to jbavari

[2015-10-18 02:58] #35 closed, assigned to brandyscarney

[2015-10-18 03:04] #24 closed, assigned to brandyscarney

[2015-10-18 03:09] #37 closed, assigned to nobody

[2015-10-18 18:54] adamdbradley opened #40 "Use ng2 pipes for date formatting"
I think ng2's "pipes" might be the right tool for the job for this date formatting:

https://github.com/angular/angular/blob/758efba34bb347991991e780ed31130e642e65ab/modules/angular2/docs/core/03_pipes.md

https://github.com/driftyco/ionic-conference-app/blob/master/www/app/components/date-format.js

[2015-10-19 16:41] #40 closed, assigned to brandyscarney

[2015-10-19 16:56] jbavari opened #41 "Remove moment.js from app"
Remove from package.json and the webpack.config.js.

Reference #40

[2015-10-19 16:57] #41 closed, assigned to jbavari

[2015-10-19 18:17] jbavari opened #42 "[bug] - DateForm Pipe has issues in Safari with internationalization"
As per the angular/angular#3333 issue, the pipe used in Date Formatting is not working in Safari, and only works in Chrome/Opera, as stated [here](https://angular.io/docs/ts/latest/api/core/DatePipe-class.html):

Due to our issues with the custom date-format component we made, referencing issues #40 #41, we had previously included moment.js in the project, altered the `webpack.config.js` to includ

[2015-10-19 20:43] jbavari opened #43 "[bug] - close item sliding instance when item option button is tapped"
Item-sliding is open, with options 'Speaker info' and 'Add to favorites'

When I tap one, close the item.

[2015-10-19 20:45] #43 closed, assigned to brandyscarney

[2015-10-19 20:49] brandyscarney opened #44 "[bug]: navigating to a new page loses previous scroll position"
Navigating forward then back loses the previous scroll position so you have to scroll back down.

[2015-10-19 22:12] #9 closed, assigned to brandyscarney

[2015-10-19 22:16] brandyscarney opened #45 "Improve the filter to only return the array when it is modified"
https://github.com/angular/angular/issues/4792#issuecomment-149305173

[2015-10-20 14:49] brandyscarney commented on #30
Fixed in this issue: https://github.com/driftyco/ionic2/issues/321 but let's leave this open until we can implement this

[2015-10-20 15:43] brandyscarney opened #46 "Replace cordova resources with Ionic ones"
Splashscreen & icons are default cordova logo

[2015-10-20 18:55] #46 closed

[2015-10-20 21:59] brandyscarney opened #47 "Add some images of the app to the README"
Add some images, maybe a gif or two? Let's go crazy.

[2015-10-20 22:55] numerized opened #48 "Is it ready to be compiled in an actual iOS9 app ?"
Hi Folks ! Thanks for the conf today was awesome.
I've actually loved the schedule app as a proof of concept.

Is it ready to be compiled in an actual iOS9 app ? It seems that after adding platform ios, building it and running it, an older version shows without maps in a iOS9 device, without speakers list neither and with only a breakfast entry in the schedule tab.

The ionic serve command works p

[2015-10-20 23:06] jbavari commented on #48
@numerized - That is currently an issue we are working through.

Currently, we are using the `DatePipe` to format dates shown in the schedule.

According to the Angular.io documentation about the [DatePipe](https://angular.io/docs/ts/latest/api/core/DatePipe-class.html), it is only usable in Chrome and Opera, unfortunately.

From the docs:

We are currently working on [the issue](https://github.co

[2015-10-21 00:53] brandyscarney opened #49 "iOS 8.x doesn't work with a form in the ion-title"
The following markup breaks the app on iOS 8.x (but works on iOS 9):

[code]

but if we remove the form from the `ion-title` it will work (aesthetically):

[code]

I can change the `ng-control` to `ng-model` but it doesn't update the value from the `ion-segment`. Need to investigate this further.

[2015-10-21 00:59] brandyscarney commented on #48
Hey, I removed the `DatePipe` from the code and reverted back to using a custom `date-format` Component. The issue Josh mentioned explains it more and links to the original issues where we converted to using the `DatePipe`. The app is now working on iOS 9, but we found some new issues with iOS 8.

I submitted an issue for iOS 8 here: https://github.com/driftyco/ionic-conference-app/issues/49

The

[2015-10-21 07:18] vasanthns opened #50 "ionic serve fails with the following error"
Hi,

I have followed the run instructions as mentioned, and I am getting the following error on ionic serve command. I am using Windows 7 with latest Node, Cordova and Ionic versions.

$/ionic-conference-app> ionic serve
? Compiling your SASS to CSS.
 **Error: file to import not found or unreadable: ionic**
Current dir: .../ionic-conference-app/www/app/
    at Object.module.exports.renderSync (...

[2015-10-21 09:48] numerized commented on #48
Ok great! That works much better now !
Thanks

[2015-10-21 09:48] #48 closed

[2015-10-21 15:12] mhartington commented on #50
From the errror is looks like you're trying to run `ionic serve` from the www directory. Could you back up to the root of the project and run ionic serve again?

[2015-10-21 16:45] tlancina commented on #49
Looks like the content is being put next to the segment on iOS 8.4 for some reason:

![image](https://cloud.githubusercontent.com/assets/804331/10643517/fc7a8c50-77e8-11e5-9f73-51a7d706f095.png)

What it should look like (iOS 9):

![image](https://cloud.githubusercontent.com/assets/804331/10643557/28ea3b32-77e9-11e5-88c7-ec845f811b0c.png)

[2015-10-23 13:59] PCateNumbersUSA opened #51 "Add .jshintrc config"
It would be nice to have a default .jshintrc config to help with best practices and correcting syntax errors.

[2015-10-23 14:02] mhartington commented on #51
Agreed, if not a jshintrc, a eslintrc file. I'll see what I can throw together

[2015-10-23 14:15] mhartington commented on #51
Added via https://github.com/driftyco/ionic-conference-app/commit/0d4fbc34c4648b4575a4f551bb09909ea1598743

[2015-10-23 14:15] #51 closed

[2015-10-23 16:52] adamdbradley commented on #49
Why is there a form element in there? Can we do without it?

[2015-10-23 20:35] brandyscarney commented on #49
The form element is necessary for the `ng-control`, changing it to a `ng-model` doesn't work with `ion-segment`

[2015-10-29 13:46] CookieCookson commented on #47
It would be nice to see examples of the app, I do not want to upgrade my ionic installation currently but am interested to see how developments are coming along!

[2015-10-29 14:55] brandyscarney opened #52 "Speaker images not showing on Android"

[2015-10-29 14:58] brandyscarney opened #53 "android: map not showing"

[2015-10-29 15:15] #53 closed

[2015-10-29 15:26] brandyscarney commented on #47
@CookieCookson I added some images of the app on an iPhone 6 and a Nexus 5. :)

[2015-11-02 16:48] brandyscarney opened #54 "Add more Ionic components"
We want to show off more Ionic components, add:

- [x] grid [here](https://github.com/driftyco/ionic-conference-app/blob/master/app/pages/login/login.html#L26-L33)
- [x] side menu [here](https://github.com/driftyco/ionic-conference-app/blob/master/app/app.html#L2-L21) with following pages:
 - [x] login page [here](https://github.com/driftyco/ionic-conference-app/tree/master/app/pages/login)
 - [x]

[2015-11-03 22:52] brandyscarney opened #55 "Update to alpha.32"
- [x] change `ion-search-bar` to `ion-searchbar`
- [x] update webpack.config.js
- [x] remove `ion-pane` from modal
- [x] update segment to use ng-model instead of a form which will fix the app on iOS 8.x but not the underlying problem: #49
- [x] update the item-sliding
- [x] hack segment so the button in the toolbar is clickable

[2015-11-04 16:29] rafaelaudy commented on #50
I have the same.
I fixed it removing:

[2015-11-04 22:57] arun0009 commented on #50
+1. I had the same issue & doing what @rafaelaudy mentioned solved my problem.

[2015-11-05 01:53] tlancina commented on #50
What is the output of `ionic info` for you guys?

[2015-11-05 02:28] arun0009 commented on #50
<code>
 Error: file to import not found or unreadable: ionic
Current dir: /development/misc/odb-mobile2/www/app/
    at Object.module.exports.renderSync (/usr/local/lib/node_modules/ionic/node_modules/ionic-app-lib/node_modules/node-sass/lib/index.js:424:22)
    at Object.processSass (/usr/local/lib/node_modules/ionic/node_modules/ionic-app-lib/lib/v2/transpile.js:203:25)
    at Object.serve (/usr

[2015-11-05 06:53] vasanthns commented on #50
+1. Fix mentioned by @rafaelaudy solved my problem.

[2015-11-05 21:56] rafaelaudy commented on #50
@tlancina Want me to open a pull request? :)

[2015-11-05 22:07] tlancina commented on #50
The ionic-framework package recently changed its structure, so the Sass source files are in a different location.

Can you guys update your CLI (`ionic@alpha`) and delete `ionic.config.js` if it exists so that `ionic serve` will autogenerate a new one and let me know if that fixes it please?

[2015-11-05 22:11] tlancina commented on #50
If you have already updated your CLI to latest, then the `ionic.config.js` will by default have the new path.

If you are using an older version of `ionic-framework` you can do one of two things:
  1. Update to alpha.31 with `npm install ionic-framework`
  2. Change the `includePaths` property in `ionic.config.js`  to `['node_modules/ionic-framework/src/scss']`

[2015-11-05 22:19] brandyscarney commented on #50
Just a warning there are known performance issues with the conference app using alpha 31. We are working on these issues. There is an issue here where I am tracking the updates: #55

[2015-11-06 21:51] rjain15 commented on #50
Changing the includePaths property, installing npm install ionic-framework moved past this error. But there are bunch of other errors

$ionic serve
∆ Compiling your SASS to CSS.
√ Sass compiled to CSS.
∆ Running postcss and autoprefixer on compiled CSS.
∆ Compiling and bundling with Webpack...

√ Using your webpack.config.js file: /Users/rjain/code/ionic-examples/i2/ionic-conference-app/webpack.co

[2015-11-11 19:44] intfrr opened #56 "Error: file to import not found or unreadable: ionic"
Hi, I have this problem. Any ideas?
[code]

[2015-11-11 20:23] intfrr commented on #50
The same here, if I understand it well, it looks for a directory which it never finds ionic/ionic

[2015-11-11 20:25] intfrr commented on #56
Solved it with https://github.com/driftyco/ionic-conference-app/issues/50#issuecomment-153783378

But it still gives me this errors:

[code]

[2015-11-12 06:18] intfrr commented on #56
It seems like if I substitute ```ionic/ionic``` by ```ionic-framework/js/ionic``` but now I get on the browser this error:

[code]

[code]
[code]

[2015-11-12 16:56] tlancina commented on #50
Is this happening off a fresh `ionic start` or an existing project?

[2015-11-12 21:36] talarari commented on #56
getting the same problem. this is pretty much the only demo i could find, would be great if it worked

[2015-11-12 23:12] brandyscarney commented on #56
Unfortunately the conference app doesn't work with alpha.31, and the CLI only works with alpha.31 because of the change to the directory structure. We're working on improving the framework and getting a new release out. Sorry for the inconvenience, but this will be fixed when the framework improvements are completed.

[2015-11-13 14:42] nprail opened #57 "Module not found: Error: Cannot resolve module 'web-animations.min'"
I downloaded the app then unzipped it and ran ionic serve and it gives me this:
![cmd](https://cloud.githubusercontent.com/assets/10778661/11148419/a905ddf4-89ea-11e5-8aa0-937b399601a3.PNG)

[2015-11-13 14:45] brandyscarney commented on #57
Hey, this is a duplicate of #56. See my comment there: https://github.com/driftyco/ionic-conference-app/issues/56#issuecomment-156266708

[2015-11-13 14:45] #57 closed

[2015-11-13 20:25] brandyscarney commented on #55
Needs some Sass updates.

[2015-11-13 20:25] brandyscarney commented on #30
Fixed in #55

[2015-11-13 20:25] #30 closed

[2015-11-13 23:00] #55 closed

[2015-11-13 23:05] brandyscarney commented on #56
The conference app has been updated to alpha.32, please follow the below steps to get it working:

1. Install the latest version of the Ionic CLI (currently alpha.22): `npm install -g ionic@alpha`
2. Remove & and re-download the conference app: `git clone https://github.com/driftyco/ionic-conference-app`
3. Switch into that directory and run: `npm i`

Then you should be able to run `ionic serve` a

[2015-11-13 23:05] #56 closed

[2015-11-13 23:06] brandyscarney commented on #50
The conference app has been updated to alpha.32, please follow the below steps to get it working:

1. Install the latest version of the Ionic CLI (currently alpha.22): `npm install -g ionic@alpha`
2. Remove & and re-download the conference app: `git clone https://github.com/driftyco/ionic-conference-app`
3. Switch into that directory and run: `npm i`

Then you should be able to run `ionic serve` a

[2015-11-13 23:06] #50 closed

[2015-11-13 23:06] brandyscarney commented on #57
The conference app has been updated to alpha.32, please follow the below steps to get it working:

1. Install the latest version of the Ionic CLI (currently alpha.22): `npm install -g ionic@alpha`
2. Remove & and re-download the conference app: `git clone https://github.com/driftyco/ionic-conference-app`
3. Switch into that directory and run: `npm i`

Then you should be able to run `ionic serve` a

[2015-11-13 23:14] brandyscarney commented on #44
Closing this as it needs to be fixed in the SDK itself: https://github.com/driftyco/ionic2/issues/406

[2015-11-13 23:14] #44 closed

[2015-11-13 23:23] brandyscarney opened #58 "item-sliding: update the ion-item to be a button"
This is dependent on the next release having this issue in it: https://github.com/driftyco/ionic2/issues/513

[2015-11-13 23:26] brandyscarney commented on #58
Oops, this is a duplicate of #20

[2015-11-13 23:26] #58 closed

[2015-11-13 23:26] brandyscarney commented on #20
This is dependent on the next release having this fix in it: driftyco/ionic2#513

[2015-11-14 04:45] sriteja09 opened #59 "Error In Running Application"
I clone the repo and i navigate to the code repository in my local pc and i install npm install and try to run application using ionic serve  showing the error in the cli

[code]

[2015-11-14 07:05] sirfak commented on #57
repated the step but still getting this error
![image](https://cloud.githubusercontent.com/assets/9669405/11162538/3d60c21a-8afa-11e5-83ff-e81d75e45c68.png)

[2015-11-14 14:31] nprail commented on #57
It works for me now.

[2015-11-15 07:59] sirfak opened #60 "ionic serve error while running ionic-conference app"
hi am running ionic-conference-app on windows 10. with latest ionic-cli and conference app.
I am getting following error message

***************************************************************************************************************************

[code]

************************************************************************************************************************

[2015-11-16 05:10] Splaktar commented on #47
Looks good. This issue can be closed then?

[2015-11-16 15:20] brandyscarney commented on #47
@Splaktar I left it open because I still want to add a gif eventually :stuck_out_tongue:

[2015-11-16 16:56] brandyscarney commented on #60
Hey, this is the same issue as https://github.com/driftyco/ionic2/issues/528

It needs to be fixed for all starters, so I am closing this issue as it will be fixed there. Thanks for reporting!

[2015-11-16 16:56] #60 closed

[2015-11-16 17:27] brandyscarney commented on #59
What version of the Ionic CLI do you have? You can run `ionic info` to get this.

Please try updating to the latest CLI and see if it is still an issue: `npm install -g ionic@alpha`

[2015-11-16 17:39] brandyscarney commented on #59
Also, are you on Windows?

[2015-11-17 02:01] brandyscarney commented on #49
This is no longer an issue for the conference app since A) we've removed the form and B) segment doesn't need to be in the title. Please reopen if you think this is something we need to handle.

[2015-11-17 02:01] #49 closed

[2015-11-17 04:02] sriteja09 commented on #59
Cordova CLI: 5.3.3
Gulp version:  CLI version 3.9.0
Gulp local:
Ionic CLI Version: 2.0.0-alpha.18
Ionic App Lib Version: 2.0.0-alpha.17
OS: Windows 8.1
Node Version: v0.12.2

[2015-11-17 11:28] sriteja09 commented on #59
Thanks ... After Updating Its works fine . Thanks brandy

[2015-11-17 11:28] #59 closed

[2015-11-17 14:32] softBarbarian opened #62 "Cannot resolve module 'moment'"
I am getting following error when trying to run `ionic serve` on fresh install.
[code]

[2015-11-17 16:20] brandyscarney commented on #62
Can you try downloading a fresh copy of the conference app, running `npm install` and then running `ionic serve` again?

The conference app is running version `2.0.0-alpha.32` of Ionic now: https://github.com/driftyco/ionic-conference-app/blob/master/package.json#L18

I've made some updates to the webpack file that need to be there to work with the CLI version you have.

[2015-11-17 16:21] brandyscarney opened #63 "Update to Ionic alpha.33"
Shouldn't be any breaking changes in the markup.

[2015-11-17 16:30] #20 closed

[2015-11-17 16:30] #63 closed

[2015-11-17 16:32] softBarbarian commented on #62
thanks @brandyscarney that worked!

[2015-11-17 16:32] #62 closed

[2015-11-17 16:36] softBarbarian commented on #62
So @brandyscarney how do we get tickets to Ionic conference?

[2015-11-17 16:37] brandyscarney opened #64 "Prevent screen from being rotated"

[2015-11-17 16:59] brandyscarney commented on #62
Sorry, the conference isn't an actual thing at the moment. It is just a sample app to show off Ionic 2.0.

[2015-11-17 17:00] brandyscarney opened #65 "Update README to show the correct lines for components"
Also add a disclaimer that there is no conference.

[2015-11-17 17:16] #65 closed

[2015-11-18 17:09] #64 closed

[2015-11-18 17:12] brandyscarney opened #66 "Make a custom app icon for the conference app"
We want a cool app icon. :smile:

& a splashscreen image would be nice.

[2015-11-18 17:34] brandyscarney opened #67 "Remove "Page" from the end of the class names"

[2015-11-18 20:39] brandyscarney commented on #52
This happens when the cordova-plugin-whitelist isn't installed. Added the cordova whitelist plugin in config.xml so when the user runs it it will automatically install this plugin.

[2015-11-18 20:39] #52 closed

[2015-11-19 00:03] #67 closed

[2015-11-19 00:06] brandyscarney opened #68 "Rename pages"
- [x] The detail page should be named the same as the list page
- [x] Rename `speakers` to `speaker-list`
- [x] Rename `sessions` to `schedule`
- [x] Rename `schedule-list` to `session-list`
- [x] Rename `filter-sessions` to `session-filter`
- [x] Add Page back to Classes
- [ ] Update README with new names

[2015-11-19 02:00] adamdbradley commented on #68
1. makes sense, got my vote :+1:
2. yes
3. sure

Also, i know we all went back and forth on the `Page` suffix, but max and I finally agreed it's probably best to suffix all Page UI components with `Page`. Reason being, if you are importing both `ScheduleList` and `Schedule` components, which one is the page? Similar to how iOS would have `ScheduleViewController`. So the directory does not need to

[2015-11-19 02:02] adamdbradley commented on #68
Also to clarify, when there are two similar pages, one that lists all the "things" and one that is a detail of one "thing", then I agree we should always have `List` and `Detail`. So `SessionListPage` and `SessionDetailPage` would make sense here.

[2015-11-19 02:02] brandyscarney commented on #68
Okay so if I'm only using the Page as a Modal should it be suffixed with Page or Modal? And then Components should be suffixed with Component? We'll need to update the generators for this.

[2015-11-19 02:05] adamdbradley commented on #68
It should always end in Page, even if it would only be in a modal.

[2015-11-19 02:05] adamdbradley commented on #68
Also, i'm not sure about suffixing with `Component` or `Cmp` right now. Let's put the Page suffix in and see how it it all fits together.

[2015-11-19 02:06] brandyscarney commented on #68
Sounds good thanks!

[2015-11-19 02:18] adamdbradley opened #69 "remove every line of code not being used"
Unlike other starter apps that kind of set users up with what they "could" do, I think the conference app should just focus on what it needs and keep it as minimal as possible. So no extra imports or injected providers. For example, the platform import, DI and example code can be removed here:
https://github.com/driftyco/ionic-conference-app/blob/master/www/app/app.js#L15

This is all here due to

[2015-11-19 02:21] adamdbradley commented on #47
Also, each image should be retina quality.

[2015-11-19 06:26] Splaktar opened #70 "CssSyntaxError Unknown word when using autoprefixer-loader"
The change to [here](https://github.com/driftyco/ionic-conference-app/commit/dbd571156a28ef8840e7ca5b7d7a0c29e142d3cd#diff-11e9f7f953edc64ba14b0cc350ae7b9dR37) is giving me:

[code]

It might be related to https://github.com/webpack/css-loader/issues/163.
Removing this one new loader (`"autoprefixer?browsers=last 2 version"`) fixes my build.

[code]

[2015-11-19 16:09] tlancina commented on #70
If you're not on the latest `ionic@alpha` can you try updating to the latest CLI and see if you still have the issue?

[2015-11-19 16:11] adamdbradley opened #71 "use an ionic svg for the logo"
appicon.png isn't high quality enough for retina, let's use an svg instead

[2015-11-19 17:18] adamdbradley commented on #71
Also be sure to give it an exact size, so there's no jank and everything bumps down after it loads

[2015-11-19 17:24] brandyscarney opened #72 "Switching from "All" to "Favorites" throws an error"
[code]

Determine if this is something with the conference app or the SDK.

[2015-11-19 17:31] brandyscarney commented on #71
You're talking about the about page right?

[2015-11-19 17:35] #71 closed

[2015-11-19 19:14] rjain15 commented on #50
works after cleanup and reinstall
[code]

[2015-11-19 20:27] #68 closed

[2015-11-19 21:42] #69 closed

[2015-11-20 23:42] brandyscarney opened #73 "Update our names to our real names"
Ben changed his mind.

[2015-11-20 23:55] #73 closed

[2015-11-21 06:10] dorontal opened #74 "Dead code in ConferenceApp constructor"
In the ConferenceApp's constructor, setting:

    this.loggedIn = false;

followed by this code:

    if (!this.loggedIn) {
      this.root = LoginPage;
    }

causes the if statement to always evaluate to true.

It's simpler to just have

    this.root = LoginPage;

instead of the if statement.

[2015-11-21 06:58] Splaktar commented on #70
Updating to the latest `ionic@alpha` appears to cause the build to pass, but the app doesn't load in Chrome:

[code]

[2015-11-21 07:08] Splaktar commented on #70
Updating again, properly, with `npm install -g ionic@alpha` seems to have solved the problem. So the one version increment of `ionic@alpha` was required to get this latest update.

[code]

Thank you.

[2015-11-21 07:08] #70 closed

[2015-11-22 18:01] brandyscarney commented on #74
Hey,

I added it as a placeholder for a future authentication service, but I can see how it can be confusing. I'll remove it and just add a comment. Thanks!

[2015-11-22 18:02] #74 closed

[2015-11-22 18:08] brandyscarney commented on #72
Updating to alpha.35 fixed this.

[2015-11-22 18:08] #72 closed

[2015-11-22 18:09] brandyscarney opened #75 "Android modal header should be primary"

[2015-11-22 18:57] #75 closed

[2015-11-23 01:53] 3dd13 opened #76 "on iOS device, in Schedule tab, clicking search field and then cancel. the keyboard still stays open"
here are the commands I used to run the apps

    git clone
    npm install --production
    ionic run ios --device

![img_1121](https://cloud.githubusercontent.com/assets/223555/11328575/f7d2acde-91c7-11e5-832d-765c406a8464.jpg)

[2015-11-23 02:09] brandyscarney commented on #76
Thanks for the issue! I'll look into this tomorrow.

[2015-11-24 14:10] gigocabrera opened #78 "Error when running ionic serve in conference app"
I updated to the latest version of ionic 2 and I am getting an error when I run the **ionic serve** command.

**Please help!**

`Cordova CLI: 5.3.3`
`Gulp version: CLI version 3.8.11`
`Gulp local:`
`Ionic Version: 2.0.0-alpha.35`
`Ionic CLI Version: 2.0.0-alpha.25`
`Ionic App Lib Version: 2.0.0-alpha.24`
`OS: `
`Node Version: v5.1.0`

![ionic-conference-app-error](https://cloud.githubusercontent.c

[2015-11-24 16:22] tlancina commented on #78
Looks like https://github.com/driftyco/ionic2/issues/528#issuecomment-157536412, if you move your project to `C:` does it work?

[2015-11-24 16:51] brandyscarney opened #79 "Update to alpha.36"
- [x] Change `ion-item-group-title` to `ion-item-divider sticky` per https://github.com/driftyco/ionic2/issues/636
- [x] Remove ItemGroup and ItemGroupTitle directives
- [x] Change `ion-header` to `ion-list-header` per https://github.com/driftyco/ionic2/issues/418

[2015-11-24 18:05] gigocabrera commented on #78
@tlancina moving the project to C: works as expected. This is awesome, thank you!

P.S. Maybe in the future you can support having the project on different drives.

[2015-11-24 22:17] #79 closed

[2015-11-24 22:19] brandyscarney commented on #78
Closing this issue since it isn't related to the conference app. Please write any comments on the linked issue. Thanks. :)

[2015-11-24 22:19] #78 closed

[2015-11-24 22:26] brandyscarney commented on #76
So since this issue is related to the framework itself I opened an issue there: https://github.com/driftyco/ionic2/issues/640

[2015-11-24 22:26] #76 closed

[2015-11-25 03:11] brandyscarney commented on #54
Add slide box to the list

[2015-11-25 15:21] sjclemmy opened #81 "ts file configuration in webpack.config.js"
Unless there is something I'm missing, in order for the webpack build process to work with .ts files as well as .js files (as is currently the case) then the `'doTypeCheck': false` query option is required for the .ts entry.
So, for files with the 'ts' ending to compile with `ionic serve` the webpack.config.js file config element;

      {
        test: /\.ts$/,
        loader: "awesome-typescript

[2015-11-25 15:46] tlancina commented on #81
Hey this is a good workaround for the moment, but the real issue I believe is that `ionic serve` should still build even when it encounters type errors.  If you have webpack installed and run `webpack` it will emit type errors but still build.

I've opened an issue for this: https://github.com/driftyco/ionic2/issues/646, so I'm going to close this and track it there.

[2015-11-25 15:46] #81 closed

[2015-11-25 22:41] adamdbradley opened #82 "Load google maps script async"

[2015-11-25 22:41] jeffbcross commented on #82
:+1:

[2015-11-25 23:21] #47 closed

[2015-11-25 23:22] brandyscarney commented on #47
Added some gifs to the README, plan to add better quality ones later on.

[2015-11-26 06:32] Vultur opened #83 "Ionic serve with Windows 10"
./~/moment/moment.js
Module not found: Error: Cannot resolve 'file' or 'directory' ./D:/Program Files (x86)/nodejs/node_modules/ionic/node_modules/ionic-app-lib/node_modules/webpack/buildin/module.js in F:\Workspaces\com.inleadcn.duang\02.duangClient\01.Project\v2.0r\com.inleadcn.duang\com.inleadcn.duang\node_modules\moment
resolve file
  F:\Workspaces\com.inleadcn.duang\02.duangClient\01.Project\

[2015-11-26 18:22] mpaland opened #84 "Scrollbar very unresponsive in Firefox"
Testing the app under Windows 10 in Firefox 42.0 via "ionic serve"

On the "schedule" page scrolling by the right scrollbar is pretty unresponsive. Using the mouse wheel is a little better.
Is this the known native scroll problem?

[2015-12-01 15:53] brandyscarney opened #85 "Update to alpha.38"
Breaking changes:

- `SearchBar` -> `Searchbar`

[2015-12-01 20:23] #85 closed

[2015-12-02 19:07] brandyscarney opened #86 "Filtering is broken"
Need to get filter working with issue #45

[2015-12-09 09:53] nampdn opened #87 "How was the tabs bar inserted?"
I see in the file `app.js` import TabsPage from `tabs/tabs`.
But I can't find anywhere this project insert the tabs page into each view.

[2015-12-09 11:09] #87 closed

[2015-12-11 02:50] #82 closed

[2015-12-11 02:51] #42 closed

[2015-12-11 02:52] #86 closed

[2015-12-11 16:57] zebarahman opened #88 "how to add an angular module?"
I am trying to add 'ngCart' module in this app
https://github.com/snapjay/ngCart
but I dont know where to add the directive in this new structure

[2015-12-12 12:33] meeximum opened #91 "Exception"
Hi,

when I try ionic serve I got that exception

✗ Caught exception:
Error: spawn gulp ENOENT
   at exports._errnoException (util.js:746:11)
   at Process.ChildProcess._handle.onexit (child_process.js:1053:32)
   at child_process.js:1144:20
   at process._tickCallback (node.js:355:11)
   at Function.Module.runMain (module.js:503:11)
   at startup (node.js:129:16)
   at node.js:814:3

The app star

[2015-12-12 12:35] meeximum commented on #91
Here my environement

Cordova CLI: 5.4.0
Gulp version:  CLI version 3.9.0
Gulp local:   Local version 3.9.0
Ionic Version: 2.0.0-alpha.42
Ionic CLI Version: 2.0.0-beta.11
Ionic App Lib Version: 2.0.0-beta.5
OS: Windows 8.1
Node Version: v0.12.7

[2015-12-12 16:47] meeximum commented on #91
It seems that the ionicons.ttf file is missing in the build directory.
I'm not sure if this is because of the exception?

[2015-12-12 19:05] brandyscarney commented on #91
There are new steps to run the conference app, please make sure you have gulp installed:
https://github.com/driftyco/ionic-conference-app#getting-started

Then make sure to run `gulp sass` in order to build the css, or `gulp sass watch` to watch changes to the Sass files.

[2015-12-12 19:09] meeximum commented on #91
yep, gulp is installed and the tasks work!
But still the exception running ionic serve, seems to be the hook
in ionic.config.js that causes the exception

[2015-12-12 20:09] LuisOliveiraAlves commented on #91
I got a similar error yesterday right after they updated some stuff. It was working just fine before they changed everything from js to ts. I tried running the new version of the conference app but it failed (I think it was this very same error). I thought it could be because I was running it on the ionic@alpha CLI version so I tried changing it to ionic@beta, but the error persisted.

[2015-12-12 20:15] tlancina commented on #91
@LuisOliveiraAlves are you on windows as well?

[2015-12-12 21:12] tlancina commented on #91
Hey I've just updated `ionic.config.js` to use the locally installed gulp instead so you don't need it globally, but I unfortunately don't have a windows machine to test on at the moment, so let us know if there are still errors when running serve.

[2015-12-12 21:41] tlancina commented on #88
Good question! ngCart looks like it's an angular 1 directive, so I'm not sure you'll be able to use it unless the author decides to create an angular 2 version.  I'm not super familiar with the angular 1 upgrade process, so it's possible there is a way to convert it easily. You could take a look at https://github.com/angular/ngUpgrade and http://blog.thoughtram.io/angular/2015/10/24/upgrading-apps

[2015-12-12 21:41] #88 closed

[2015-12-13 17:26] LuisOliveiraAlves commented on #91
Yes, I am on windows 10. Still can't run it though. I don't think gulp is the problem as we were able to run ionic serve before just fine. We have gulp installed. I'm getting all kinds of errors now. I don't know why, but the dependencies are not being installed correctly.

This version is still running fine, so I'm working with it: https://github.com/driftyco/ionic-conference-app/tree/e3dd4c843d2

[2015-12-13 17:34] tlancina commented on #91
Hey it would be awesome if you could post the errors you're getting or the steps to reproduce them, otherwise it's very hard for us to do anything about it

[2015-12-13 19:55] tlancina commented on #91
@LuisOliveiraAlves saw what you meant about the dependencies, should be fixed with https://github.com/driftyco/ionic-conference-app/commit/8072c473075b81fca62954198c58bac88cbffa24.

Still looking into getting gulp to work on windows.

[2015-12-13 20:13] #91 closed

[2015-12-14 05:54] 3dd13 opened #92 "clicking Cancel to close schedule filter should set the excludeTracks to original excludeTracks"
in Schedule page, open filter, click "Cancel" and open filter again shows empty filters list

![screen shot 2015-12-14 at 13 51 40](https://cloud.githubusercontent.com/assets/223555/11773800/d45df936-a269-11e5-9b11-ccefd24708d2.png)

because the onClose callback parameter (excludeTracks) is undefined when user click "Cancel" to close the modal.

[2015-12-14 06:15] 3dd13 commented on #54
Hi @brandyscarney

1)
What are you expecting for the side menu and slidebox ?

may I suggest the following changes:
- apps starts with slidebox style tutorial
- perhaps a "Buy Ticket" button in one of the slides
- clicking the "Start Now" button goes to schedule page
- only keep the login/signup in the sidemenu, but not showing that as the first state.

2)
related question: which features are acce

[2015-12-14 06:17] 3dd13 commented on #54
for the slide box showcase,
how about click Buy Ticket, and let ask the user to select a ticket type ?
could be choosing between "Conference" and "Conference + 1 Day Workshop"

[2015-12-14 08:17] 3dd13 opened #95 "Clicking "Cancel" or "clearInput icon" does not reset the schedule sessions"
## the problem

after changing the query in searchbar and then click the Cancel button or ClearInput icon (cross icon),
the sessions should show the full list of schedule, but the SchedulePage updateSchedule() is not being called to refresh the list.
right now only keyup would trigger the refresh.

![screen shot 2015-12-14 at 16 06 32](https://cloud.githubusercontent.com/assets/223555/11775787/c07

[2015-12-14 15:58] brandyscarney commented on #95
I have been working on fixing the searchbar in the Ionic source code which will allow the user to capture the `(input)` event. This latest version of it isn't released yet, but these are the related issues:

https://github.com/driftyco/ionic2/issues/666
https://github.com/driftyco/ionic2/issues/731

Thanks for the feedback :)

[2015-12-14 21:17] brandyscarney commented on #92
Fixed by #93, thanks!

[2015-12-14 21:17] #92 closed

[2015-12-14 21:46] brandyscarney commented on #95
I'm going to close this because in the end it should be resolved in the source code itself, and it _should_ be resolved by the above issues.

[2015-12-14 21:46] #95 closed

[2015-12-14 22:17] brandyscarney commented on #54
@3dd13

1) I think the slidebox being used in a tutorial format is a great use of it, thanks again for the PR. I'm thinking for now it stays simple, gives a little background on the app with the final page going to the app, or they can skip it entirely. Yes, I agree the user should be able to view the app without viewing the login or signup screen.

2) I was thinking (eventually) there will be an

[2015-12-15 01:01] brandyscarney opened #96 "Tabs messed up iOS 9 simulator"
Looking at the iOS 9.1 simulator the tabs aren't showing. No errors. The markup is there it just seems like  the tabs aren't getting selected properly.

![screen shot 2015-12-14 at 7 59 54 pm](https://cloud.githubusercontent.com/assets/6577830/11798923/6e7024b2-a29d-11e5-9637-fba287f25f0d.png)

Chrome & Android nexus 5 device work fine.

cc @adamdbradley

[2015-12-16 01:26] massilva opened #97 "ReferenceError: Promise is not defined"
Hi!

I followed the getting-started tutorial:
http://ionicframework.com/docs/v2/getting-started/installation/

When I run the command:
**ionic serve**

throw exception:
**ReferenceError: Promise is not defined**

And crash the layout.
The same happens when I tested the app:
https://github.com/driftyco/ionic-conference-app

How I fix it?
tk

[2015-12-16 03:24] brandyscarney commented on #97
Since it is happening to you for all v2 apps I am going to close the issue here and we can work on fixing it over there: https://github.com/driftyco/ionic2/issues/752

[2015-12-16 03:24] #97 closed

[2015-12-17 05:04] adamdbradley opened #98 "Directory Structure"
Thinking about not placing the source module and sass files within `www`. Once we get offline template compiling, which should be landing soon, even source HTML files are compiled. So all output that gets transpiled/compiled goes in `bundle` (or whatever), and normal static files like images go in `www/img` or whatever they want. Thoughts?

[code]

@mlynch @tlancina @brandyscarney @mhartington

##

[2015-12-17 14:31] mlynch commented on #98
I like it, just can't swallow pushing `providers`. I don't see a reason to stop anyone from doing that, but I don't know if we should push that concept ourselves. They're just plain utility classes and services. `providers` is way too angulary

[2015-12-17 14:40] mhartington commented on #98
All for building outside www/

[2015-12-17 15:04] brandyscarney commented on #98
I'm fine with it, but I think having the img/ folder outside of the working directory may be confusing.

[2015-12-17 15:57] astec commented on #98
[code]
What about components & pages directory? For example if I have:
[code]

[2015-12-17 16:15] tlancina commented on #98
What about just a directives directory for components and directives? Components are technically directives as well, and I don't think they're so different that we need separate directories for them, but maybe that would be confusing.

I'm fine with `provider` if that's what angular is calling it, `services` makes a lot of sense to me as well (esp. coming from ng1).

Everything else LGTM, having a

[2015-12-17 16:17] mlynch commented on #98
@tlancina I'd prefer components then, since a directive is kind of a "component" and that concept is the one most people are using in and out of angular...

[2015-12-17 16:18] tlancina commented on #98
Yeah I agree with @brandyscarney as well, having to map your asset paths in your head to where your build is going to be might be confusing.

We can easily add a gulp task/CLI config glob for paths to copy into www.

[2015-12-17 16:19] tlancina commented on #98
@mlynch I believe it's the other way around, components are directives, but directives are not components.

[2015-12-17 16:20] mlynch commented on #98
Yes, "technically" but no one uses directives except Angular. Directive directives could still be considered "components" that enhance elements.

[2015-12-17 16:23] brandyscarney commented on #98
@tlancina Could we copy the directory over and have it ignored by git so they can still put assets in their working directory?

[2015-12-17 16:44] adamdbradley commented on #98
Really the images stuff if what tripped us up before and why it is the way it is now. But if you look at what we've done with the conf app already is that the images are already outside of the `www/app` directory: https://github.com/driftyco/ionic-conference-app/tree/master/www/img So we're not even using it like we thought we would.

So all things considered, I think I like having static assets l

[2015-12-17 16:44] tlancina commented on #98
@brandyscarney good point, what if we had a root level `assets/` directory that the default config copies into www and would be .gitignore'd in all the starters? Then:

`app` -> `www/build`
`assets` -> `www/assets`

[2015-12-17 16:51] tlancina commented on #98
Yeah I get the `components` argument I think, it's easier to reason about things like `pages` and `components` as the building blocks of an app.

@adamdbradley I see your point about paths confusion, I was thinking it would be easier to have `www` be more of a build target only directory, but `index.html` is already in there and will need to have the correct paths to the built bundles, so I guess

[2015-12-17 16:52] tlancina commented on #98
WWECD (what would ember cli do)

[2015-12-17 17:42] adamdbradley commented on #98
[code]

[2015-12-19 06:52] 3dd13 opened #99 "refactor Login and Sign form to utilize Angular2 form builder and validator"
some changes to demonstrate Ionic2 and Angular2.
this issue should be part of https://github.com/driftyco/ionic-conference-app/issues/54

- demonstrate angular2 form builder, control and control group
- demonstrate angular2 form validator
- demonstrate dynamic attribute in login and signup submit button. button is disabled until the form is valid

[2015-12-19 10:05] 3dd13 opened #101 "demonstrate LocalStorage with login flag and show different side menu items based on login status"
some changes to demonstrate the LocalStorage usage in Ionic: http://ionicframework.com/docs/v2/utils/storage/

- extract the menu generation logic and view into a separate component
- add login, logout capability to user-data.js provider
- store a boolean flag in local storage when login/signup form is submitted
- remove the boolean flag from local storage when logout side menu is clicked
- store

[2015-12-19 10:16] meeximum opened #102 "Visual Studio Code - jsconfig.json"
Hi,

I'm using Visual Studio Code, do you know if you really need a jsconfig.json file next to the tsconfig.json file?
The error messages complaining ES6 only go away when I create a jsconfig.json as a copy of the tsconfig.json?

I'm working on Windows 10?

regards
Meex

[2015-12-19 10:28] 3dd13 commented on #102
I am not using Windows and Visual Studio.
but a quick google search suggest that your project is interpreted as javascript application but not typescript application, that's why it still expects the jsconfig.json

reference:
- https://code.visualstudio.com/docs/languages/javascript
- https://code.visualstudio.com/docs/languages/typescript

[2015-12-19 10:33] 3dd13 commented on #102
perhaps there is an option to force it treating your project/files as Typescript ?
try look for the "programming language" option in the editor,

perhaps it is the expected location of the tsconfig.json is different in Visual Studio ? there is an issue reported:
https://github.com/Microsoft/TypeScript/issues/3124

[2015-12-20 21:14] meeximum commented on #102
thx for the hints!

[2015-12-20 21:16] meeximum opened #104 "session-list selector"
Hi,

I see the session-list selector was removed in the schedule.html?
I was wondering because I tried to implement the construct for my own app, but I didn't get it work as the system ignores the selector, has there changed sthg. angular2 or ionic2?

Meex

[2015-12-20 21:19] meeximum commented on #104
ok, sorry, found the solution, the problem was on my side, as I forgot to add the module in the Pages directives property :-(

[2015-12-20 21:19] #104 closed

[2015-12-21 17:19] 3dd13 commented on #96
have narrowed down the issue to the side menu html code

      <button ion-item *ngFor="#p of pages" (click)="openPage(p)">
        <icon item-left [name]="p.icon"></icon>
        {{p.title}}
      </button>

if I remove this few lines of code from app.html, all the tabs are rendered correctly on iOS simulator

[2015-12-22 09:19] 3dd13 commented on #54
would be good to keep an eye on the following missing components once they are ready in the framework: https://github.com/driftyco/ionic2/issues/569

[2015-12-22 19:10] rajeevkumarsharma opened #107 "Landing page handling according to Login/Signup/Logout is missing"
Pls add support to signup.
Show tutorial page only once when application is started first time.
User can see schedule list only after sign-in.
Once user logout, user will be redirected to login page until successful login.
Login session should be maintained.

[2015-12-23 06:27] rajeevkumarsharma opened #109 "Provide TypeScript version"
Pls update typescript version as you update JS version

[2015-12-23 06:44] rajeevkumarsharma opened #110 "Use a standard for folder structure"

[2015-12-23 09:27] 3dd13 commented on #110
what do you expect for this issue ?

there was an another issue discussing the new folder structure design:
https://github.com/driftyco/ionic-conference-app/issues/98

there were some commits yesterday on implementing the design
https://github.com/driftyco/ionic-conference-app/commit/2be9ca212d74beb82af64982f01ea2f487dc1428

[2015-12-23 09:33] rajeevkumarsharma commented on #110
We should go with ionic default

[2015-12-23 09:38] 3dd13 commented on #107
1)
add reference to previous discussion with brandyscarney in https://github.com/driftyco/ionic-conference-app/issues/54
"Yes, I agree the user should be able to view the app without viewing the login or signup screen."

2)
submitted a pull request for login status persistence in local storage: https://github.com/driftyco/ionic-conference-app/pull/111

3)
"Show tutorial page only once when applica

[2015-12-23 09:41] 3dd13 commented on #110
do you mean the app folder outside www ?
https://github.com/driftyco/ionic-conference-app/issues/98 is the new default
the core ionic-cli had already updated to follow this new folder structure

[2015-12-23 10:04] 3dd13 commented on #54
"add a dynamic attribute example" is already applied in schedule page:
https://github.com/driftyco/ionic-conference-app/blob/master/app/pages/schedule/schedule.html#L40

[2015-12-23 10:19] rajeevkumarsharma commented on #110
We should use app folder which is good for performance and ease of use.
#98
It has directive folder, there is no such thing in angular2. It's all components.

so, I success

- app
    - components
        - about
            - about.js
            - about.scss
            - about.html
        - contact
            - contact.js
            - contact.scss
            - contact.html
    - providers/s

[2015-12-23 10:25] rajeevkumarsharma commented on #107
1)
"No, I am not agree that a user should be able to view the app without viewing the login or signup screen."

2)
User should first signup/Login to see app
Once user logged-in and open app again then only user can see app without re-login for a period of time(cache)

3)
User can also have some roles so, he should be redirected to role based screens.

[2015-12-23 10:32] rajeevkumarsharma opened #113 "Add a busy indicator as app loaded"
1. Pls add busy indicator when we open app till app is fully loaded.

[2015-12-23 10:43] 3dd13 commented on #113
* what kind of Ionic feature you want to demonstrate with this "busy indicator" ?

@rajeevkumarsharma try to implement it and submit a pull request

[2015-12-23 10:50] 3dd13 commented on #107
@rajeevkumarsharma
no offense
but it looks like you are dictating the way this app should work like what you personally expect
this repo is more for demonstrating the Ionic framework
and we should come up together what this app should look like so that other Ionic developers can benefit from (and I believe the driftyco organization has the final say with this github repo)

there are many workflows

[2015-12-23 10:55] rajeevkumarsharma commented on #113
App Launch SplashScreen feature of ionic

[2015-12-23 10:57] rajeevkumarsharma commented on #107
It's not what i personally expect but what every one expect from an framework to handle authentication workflow

[2015-12-25 10:17] #102 closed

[2015-12-25 11:34] meeximum opened #114 "/build directory contains no html files"
Hi,

somehow the ionic.config.js is ignored, as there are no html files copied to the www/build directory?

I just cloned the latest ionic-conference-app did a npm install and at ionic serve, I got following error in the console:
**Failed to load resource: the server responded with a status of 404 (Not Found)  http://localhost:8100/build/app.html**

My system information:

Cordova CLI: 5.4.0
Gulp

[2015-12-25 14:32] brandyscarney commented on #110
Directives do exist in Angular 2: https://angular.io/docs/ts/latest/api/core/Directive-var.html

[2015-12-27 07:09] jvaranam opened #115 "error on ionic serve"
Clone this repository.
Run npm install from the project root.
Install the ionic CLI (npm install -g ionic@beta)  -- my version 2.0.0-beta.12
Run ionic serve in a terminal from the project root.

ionic serve throws the following error on chrome console. plz help me to fix

GET http://localhost:8100/build/css/app.ios.css 404 (Not Found)setupDom @ app.bundle.js:3378ionicProviders @ app.bundle.js:3343

[2015-12-28 15:52] brandyscarney commented on #45
Closing this, it's been reworked a few times

[2015-12-28 15:52] #45 closed

[2015-12-28 16:02] brandyscarney commented on #115
Does the `build` folder exist under `www`?: `ionic-conference-app/www/build`

And when you run `ionic serve` do you see this or any errors in the terminal?:

[code]

[2015-12-28 16:09] brandyscarney commented on #114
Could you try updating to the latest CLI beta version and see if that fixes it?

[code]

[2015-12-28 16:10] brandyscarney commented on #115
Also can you try updating to the latest beta CLI and see if that fixes it?

[code]

[2015-12-28 16:17] meeximum commented on #114
perfect! It's working :-)

2015-12-28 17:09 GMT+01:00 Brandy Carney <notifications@github.com>:

--
Markus Reich
Moosbach 28/2
6392 St. Jakob i.H.
www.markusreich.at
markus.reich@markusreich.at

[2015-12-28 16:34] brandyscarney commented on #114
Awesome! :smile: Closing this.

[2015-12-28 16:34] #114 closed

[2015-12-28 18:54] rido-min commented on #115
I'm having the same error. In the webpack output I don't see

∆ Copying HTML
√ Matching patterns: app/**/*.html

So, I don't have a www/build folder

[2015-12-28 18:59] brandyscarney commented on #115
Can you print your `ionic info` please

[2015-12-28 19:00] brandyscarney commented on #110
Closing this. #98 is how the directory structure will be set by default, any opinions on it can go there. Thanks.

[2015-12-28 19:00] #110 closed

[2015-12-28 19:02] brandyscarney commented on #113
Added splash screen as a task for this issue: https://github.com/driftyco/ionic-conference-app/issues/54

[2015-12-28 19:02] #113 closed

[2015-12-28 19:23] brandyscarney commented on #107
Thanks for the feedback. Adding login/logout capabilities is definitely on the roadmap. It is the reason that the login, signup, and account pages aren't checked here, as they are not completed: #54

Please understand that we are working on building out the SDK at the same time we are updating this app, and any major issues with the SDK itself take priority over adding new features to this demo. I

[2015-12-28 19:23] #107 closed

[2015-12-28 19:30] brandyscarney commented on #109
We are trying to keep the TypeScript version up-to-date with the JS version but sometimes things come up or things break and we have to shift our focus. If it is significantly behind the JS, I recommend joining our Slack channel and letting us know there: http://ionicworldwide.herokuapp.com/

[2015-12-28 19:30] #109 closed

[2015-12-28 19:50] rido-min commented on #115
I updated to latest ionic@beta (2.0.0-beta.15) and not it works.

BTW here is my ```ionic info```

Your system information:

Cordova CLI: 5.2.0
Gulp version:  CLI version 3.9.0
Gulp local:
Ionic Version: 2.0.0-alpha.45
Ionic CLI Version: 2.0.0-beta.15
Ionic App Lib Version: 2.0.0-beta.8
OS: Windows 8.1
Node Version: v0.12.2

[2015-12-28 19:55] brandyscarney commented on #115
Thanks, glad upgrading the CLI works!

[2015-12-28 20:18] brandyscarney commented on #96
This isn't an issue anymore with the latest updates.

[2015-12-28 20:18] #96 closed

[2015-12-28 22:33] maxsay opened #116 "ERR_FILE_NOT_FOUND"
ionic build successfully.
After installing the app my device I'm getting this error after debugging it

Failed to load resource: net::ERR_FILE_NOT_FOUND file:///build/app.html

I've check platforms\android\assets\www\build folder it contains the app.html file

[2015-12-28 22:40] brandyscarney commented on #116
When was the last time you got the latest conference code? I fixed this error about 6 hours ago.

[2015-12-28 23:04] maxsay commented on #116
Thanks it worked after using latest conference code.

[2015-12-28 23:05] brandyscarney commented on #116
Awesome. :+1:

[2015-12-28 23:05] #116 closed

[2015-12-28 23:53] andrewmcgivery commented on #84
Just tested in Windows 10, Firefox 43.0.3, not seeing any issues with scrolling.

[2015-12-28 23:54] brandyscarney commented on #84
Thanks for testing @andrewmcgivery. This may have been fixed in a recent release. @mpaland could you see if this is still an issue and close this if not? Thanks!

[2015-12-28 23:55] brandyscarney commented on #98
Is this good to close now?

[2015-12-29 02:02] jvaranam commented on #115
Thanks Brandy,
After updating the Ionic CLI Version to 2.0.0-beta.15, which is working fine.

[2015-12-29 04:52] chenzhizhuan opened #117 "Failed to load resource: the server responded with a status of 404 (Not Found)"
The build folder is not exist under www, And when I run ionic serve, see this in the terminal:
CengcengtekiMacBook-Air:www cengceng$ ionic serve
Running live reload server: undefined
Watching: 0=www/**/*, 1=!www/lib/**/*
√ Running dev server:  http://localhost:8100
Ionic server commands, enter:
  restart or r to restart the client app from the root
  goto or g and a url to have the app navigate to

[2015-12-29 05:05] chenzhizhuan commented on #117
CengcengtekiMacBook-Air:app cengceng$ ionic info

Your system information:

Cordova CLI: 4.3.0
Gulp version:  CLI version 3.9.0
Gulp local:
Ionic CLI Version: 2.0.0-beta.15
Ionic App Lib Version: 2.0.0-beta.8
ios-deploy version: 1.8.3
ios-sim version: 4.1.1
OS: Mac OS X El Capitan
Node Version: v0.12.7
Xcode version: Xcode 6.4 Build version 6E35b

[2015-12-29 13:32] arthurbragaa commented on #117
Hi @chenzhizhuan
I managed to solve this issue running npm install from the project base folder.

[2015-12-29 17:32] brandyscarney commented on #115
Glad that fixed it!

[2015-12-29 17:32] #115 closed

[2015-12-29 17:32] brandyscarney commented on #117
@chenzhizhuan Can you see if running `npm install` fixes it for you, too?

[2015-12-29 19:20] mashaly100200 commented on #109
@rajeevkumarsharma  , @brandyscarney   where is typescript version ?

plz ionic team focus on typescript i think most developer who use angular2 will shift to typescript

thanks ionc team

[2015-12-29 19:26] brandyscarney commented on #109
The typescript version is on the `typescript` branch: https://github.com/driftyco/ionic-conference-app/tree/typescript

[2015-12-29 19:42] gauravsaini03 opened #118 "opening sidemenu on android makes app non-clickable"
Hello Team,

It's been really nice trying Ionic 2 and thanks for all your efforts.

Actually, I was testing this app and also sidemenu-starter template on android device and on my browser. It seems like when we toggle the menu after that we are unable to click on the entire screen. Although, it works fine in case of iOS.

Same thing happens when I run emulation on browser with iOS devices everythi

[2015-12-29 19:48] brandyscarney commented on #118
This was fixed yesterday by this issue: https://github.com/driftyco/ionic2/issues/803

It will be in the next release of the Ionic SDK (2.0.0-alpha.46) at which point we will update the conference app & starters to use this version.

Please review our [contributing guidelines](https://github.com/driftyco/ionic-conference-app/blob/master/CONTRIBUTING.md) before submitting an issue. This issue is no

[2015-12-29 19:48] #118 closed

[2015-12-30 03:08] chenzhizhuan commented on #117
CengcengtekiMacBook-Air:ionic-conference-app cengceng$ sudo npm install -g ionic@beta
Password:
/usr/local/bin/ionic -> /usr/local/lib/node_modules/ionic/bin/ionic

Binary downloaded and installed at /usr/local/lib/node_modules/ionic/node_modules/ionic-app-lib/node_modules/gulp-sass/node_modules/node-sass/vendor/darwin-x64-14/binding.node

` /usr/local/lib/node_modules/ionic/node_modules/ionic-app

[2015-12-30 05:39] brandyscarney commented on #117
Can you try running just `npm install` from within the project folder? These steps: https://github.com/driftyco/ionic-conference-app#getting-started

[2015-12-30 12:27] mpaland commented on #84
This can't be observed anymore.
Schedule list scroller is responsive in current version, tested with FF 43.0.2
Thanx!

[2015-12-30 12:27] #84 closed

[2015-12-30 12:33] mpaland opened #119 "Back button title not visible in FF"
I file this issue here, because it's observed in this app.
The word "Back" is not visible below the menu back arrow on a detail schedule page in FF43:
![capture](https://cloud.githubusercontent.com/assets/763140/12050737/c7ff1598-aef9-11e5-89cc-1ec56b366930.PNG)

[2015-12-30 12:38] mpaland opened #120 ""All" button not working in Schedule view"
Reproduce: Start app, in Schedule list, click on "Favorites". Try to click "All" then.
You can't switch back from "Favorites" to "All" in Schedule View.
Tested on FF43

[2015-12-30 16:16] brandyscarney opened #121 "Animation transform is skewed in Firefox"

[2015-12-30 16:17] brandyscarney commented on #120
Thanks for the issue! There is an open issue for this on the Ionic2 repo since it affects segments in all Ionic2 apps: https://github.com/driftyco/ionic2/issues/819

[2015-12-30 16:17] #120 closed

[2015-12-30 17:02] brandyscarney commented on #119
Thanks for the issue. This affects the starters & all Ionic 2 apps so I created an issue for it on the Ionic 2 repo: https://github.com/driftyco/ionic2/issues/831

[2015-12-30 17:02] #119 closed

[2015-12-30 18:37] #121 closed

[2015-12-30 21:02] #98 closed

[2016-01-03 20:46] mashaly100200 commented on #109
@brandyscarney  many thanks   :+1:

[2016-01-04 03:43] thomastthai opened #122 "Favorite"
How do you mark a conference as a favorite? When the conference detail screen shows up, there is no button to click to make it a favorite. I did clone the respository and ionic serve to Chrome browser. From reading the code, it looks like I can slide a conference listing to make it a favorite. I tried sliding using the click and mouse drag but it wouldn't slide.

[2016-01-04 04:04] thomastthai commented on #122
I was in Developer Tool mode with Chrome. I seems as though I needed to refresh the screen if I was switching to a device mode. Once I did that or switched out of Developer mode in Chrome, I was able to slide the list item and the Favorite button showed.

[2016-01-04 04:04] #122 closed

[2016-01-04 14:15] mashaly100200 opened #123 "Failed to load resource"
http://localhost:8101/build/css/app.ios.css Failed to load resource: the server responded with a status of 404 (Not Found)
http://localhost:8101/build/app.html Failed to load resource: the server responded with a status of 404 (Not Found)
http://localhost:8101/build/css/app.ios.css Failed to load resource: the server responded with a status of 404 (Not Found)

i have run npm install
and  also have

[2016-01-04 15:48] brandyscarney commented on #123
Can you update to the latest CLI beta (beta.15) `sudo npm install -g ioinc@beta` and see if that fixes it?

[2016-01-04 16:08] ajaybeniwal commented on #123
yes i checked the latest update fixes it

[2016-01-04 17:47] adamdbradley commented on #66
+1

+1

Any updates!?!?!

What's the status on this issue!?!?!

My boss wants this done ASAP! Plz close this!

 @bensperry

[2016-01-04 17:48] brandyscarney commented on #66
:+1:

[2016-01-04 18:32] mashaly100200 commented on #123
many thanks @brandyscarney  :+1:

[2016-01-04 18:32] #123 closed

[2016-01-04 20:43] thomastthai opened #124 "Changing from Favorites to All"
When viewing Favorites and clicking on All button at the top, it won't show all the events again. The click is registered though.

![image](https://cloud.githubusercontent.com/assets/16532581/12099963/bbe80e1e-b2e0-11e5-9a79-f0eb18ae9255.png)

[2016-01-04 20:44] brandyscarney commented on #124
Have you pulled the latest code? Running `ionic info` should give you this:

[code]

I updated to 46 this morning and it should be working.

[2016-01-04 20:48] thomastthai commented on #124
Here is my current set up. I will pull latest and test again. Thank you for the quick reply.

C:\Users\Thomas\ionic2\employeeDirectory>ionic info

Your system information:

Cordova CLI: 5.4.1
Gulp version:  CLI version 3.9.0
Gulp local:
Ionic CLI Version: 2.0.0-beta.15
Ionic App Lib Version: 2.0.0-beta.8
OS:
Node Version: v4.2.4

[2016-01-04 20:50] brandyscarney commented on #124
Make sure to run `ionic info` from within the project folder to get the Ionic Version. :smile:

[2016-01-05 06:59] thomastthai commented on #124
Updated ionic using: npm install -g ionic@beta

C:\Users\Thomas\ionic2\ionic-conference-app>ionic info

Your system information:

Cordova CLI: 5.4.1
Gulp version:  CLI version 3.9.0
Gulp local:
Ionic Version: 2.0.0-alpha.45
Ionic CLI Version: 2.0.0-beta.15
Ionic App Lib Version: 2.0.0-beta.8
OS:
Node Version: v4.2.4

It still won't show all:

![image](https://cloud.githubusercontent.com/assets/165

[2016-01-05 15:45] brandyscarney commented on #124
So running `npm install -g ionic@beta` updates the Ionic **CLI** which would affect the commands you run in the terminal for Ionic e.g. `ionic serve`, `ionic start`, etc. and this version shows here: `Ionic CLI Version: 2.0.0-beta.15`

If you want to update the framework itself in an existing project you would run `npm install ionic-framework@latest --save` for the latest version or `npm install i

[2016-01-06 07:35] thomastthai commented on #124
Thank you for the feedback Brandy. I grabbed the latest repo for this app and updated ionic-framework and the issue is resolved.

[2016-01-06 07:36] #124 closed

[2016-01-06 08:52] thomastthai opened #125 "EXCEPTION: No provider for ActionSheet!"
C:\Users\Thomas\ionic2\ionic-conference-app>ionic info

Your system information:
After a fresh pull from repo, I noticed when clicking on the "Speakers" tab, an error was generated:

EXCEPTION: No provider for ActionSheet! (SpeakerListPage -> ActionSheet)

To fix the error, I made changes to file "speaker-list.js" as follows:

import {NavController, Page, ActionSheet} from 'ionic/ionic';
import {C

[2016-01-06 15:56] #125 closed

[2016-01-06 15:57] brandyscarney commented on #125
Thanks for the issue! We refactored the ActionSheet in the latest release (alpha.47) and forgot to update it. It should be fixed now with my most recent commit. :smile:

If you're interested we have a section on the refactor in the CHANGELOG: https://github.com/driftyco/ionic2/blob/master/CHANGELOG.md#200-alpha47-2016-1-4

[2016-01-06 16:05] Ionitron commented on #117
Greetings @chenzhizhuan!

I'm sorry, but my sensors indicate that this issue may no longer apply to recent versions of Ionic.

If you are still experiencing this issue, please feel free to reopen it by creating a new issue and provide the following information, so that I may assist you:

- Can you provide a detailed description of this issue?
- How would a robot go about replicating this issue?
-

[2016-01-06 16:05] #117 closed

[2016-01-06 21:41] #99 closed

[2016-01-07 03:37] #101 closed

[2016-01-07 04:32] adamdbradley commented on #66
+1

[2016-01-07 06:01] bensperry commented on #66
+1

[2016-01-07 06:15] bensperry commented on #66
[conference app icon.zip](https://github.com/driftyco/ionic-conference-app/files/80760/conference.app.icon.zip)

[2016-01-08 23:21] billymccafferty opened #127 "Would you please add an example manifest for deploying this to Android via Google Play Store?"
Firstly, THANK YOU for this sample code...extremely helpful while we wait for StackOverflow to catch up! ;)

Would you please include an example \platforms\android\AndroidManifest.xml that you'd use for deploying this app to Google Play (obviously, without your real API keys).  I've been having a hell of a time getting the Google Maps integration to work once it's deployed to the Google Play app s

[2016-01-08 23:25] billymccafferty commented on #127
Since AndroidManifest.xml is auto-generated during the publish steps, I suppose it's the config.xml settings that I'm looking for that will enable the use of Google Maps when deployed to Google Play.

Thanks again!
Billy McCafferty

[2016-01-08 23:48] billymccafferty commented on #127
I was able to use XML guidance from http://www.vogella.com/tutorials/AndroidGoogleMaps/article.html to get this working...so nevermind. ;)

[2016-01-08 23:48] #127 closed

[2016-01-12 13:32] mashaly100200 opened #128 "No provider for Alert! , No provider for Modal! when update to alpha49"
Hi
i try to update ionic-conference-app typescript version to use ionic alpha49 but it gives me an error
No provider for Modal!
and if i  insert   providers:[Modal]   it gives me an error
Cannot resolve all parameters for Modal(?, ?)

also the same issue with alert

also with ActionSheet   when tap to SpeakerListPage

how can i solve this issue ?

thanks in advance

[2016-01-12 15:15] adamdbradley commented on #66
You are a gentleman and a scholar.

[2016-01-12 16:26] tlancina opened #129 "Schedule page search input icon alignment"
![image](https://cloud.githubusercontent.com/assets/804331/12269390/c919d1ee-b916-11e5-820b-04e250627f21.png)

Only happens initially, focusing and blurring makes it to align correctly.

[2016-01-12 20:20] mashaly100200 commented on #128
sorry for this issue, it was my wrong ,
if anyone face this problem  : you should remove all Modal from  pages contractor coz it will inject throw ionic framework

[2016-01-12 20:20] #128 closed

[2016-01-12 20:54] mashaly100200 commented on #129
yes  focusing and blurring makes it to align correctly but in ios only ,  in android not correct it

[2016-01-12 23:37] tracktunes commented on #129
Ditto.  I noticed this same exact issue after running 'ionic serve' in the latest version of Firefox (43.0.4) running in Linux.

[2016-01-13 12:50] matt4446 commented on #129
The same thing occurs with the current alpha version as of Monday (I have not checked since) in my own prototypes. Unless both versions (scheduler and my own) have made the same mistakes (I've copied from the components documentation page) its probably a bug on the current version of the framework.

[2016-01-15 07:49] ihadeed opened #130 "[ Nexus 5 ] ng-click action triggers after the animation is done"
Tested the app on my nexus 5 device

all the buttons are really slow.. when i click on anything it takes longer than usual for the animation (waves) to finish, then it triggers the on-click action

[2016-01-15 07:50] ihadeed opened #131 "[ Nexus 5 ] Hardware back button closes the whole app instead of closing modal"
When i click my on-screen "hardware" back button on Nexus 5 it closes the whole app instead of closing modal

[2016-01-16 12:47] brandyscarney commented on #129
This is filed here: https://github.com/driftyco/ionic2/issues/853

[2016-01-16 12:51] brandyscarney commented on #66
Reopening so I remember to add it.

[2016-01-18 18:31] tlancina commented on #129
Ah sorry, I'll close this then.

[2016-01-18 18:31] #129 closed

[2016-01-19 06:55] tarolechaitanya opened #132 "(change) event not working in NgFor"
I am populating select input type with ngFor.
But when I use (change) event, it throws an error stating "Error trying to diff"
If I don't use ngFor, (change) function is working on select  input type.

![ngforissue](https://cloud.githubusercontent.com/assets/14307698/12411854/d4bec0d6-bea7-11e5-8250-d6147d1b820a.png)

[2016-01-19 15:28] brandyscarney commented on #132
Please submit an issue through our issue form and select `2.x` as the version of Ionic. This will place it in the [ionic](https://github.com/driftyco/ionic/issues?q=is%3Aopen+is%3Aissue+label%3Av2) repository with the proper labels.

Issue form: http://ionicframework.com/submit-issue/

[2016-01-19 15:28] #132 closed

[2016-01-20 00:53] brandyscarney commented on #66
Nevermind apparently Adam already did.

[2016-01-20 00:53] #66 closed

[2016-01-20 11:38] qmagpie opened #133 "[ Nexus 5 ] The android version has inverted colors in navbar/tabs"
![ionic2_android](https://cloud.githubusercontent.com/assets/6907962/12447874/b9bb3afa-bf72-11e5-8965-2f6ec312bcdd.jpg)

[2016-01-20 11:40] qmagpie opened #134 "Material design - the ripple effect is too slow on real devices - tested on Nexus 10, Nexus 5"

[2016-01-20 16:17] brandyscarney commented on #133
Dependent on: https://github.com/driftyco/ionic/issues/5021

[2016-01-22 16:32] bagusflyer opened #135 "Can't run app"
Got the following error message:

app.bundle.js:31450 ORIGINAL EXCEPTION: TypeError: Cannot read property 'user:login' of undefinedBrowserDomAdapter.logError @ app.bundle.js:31450

What could be wrong? Thanks.

[2016-01-22 16:44] brandyscarney commented on #135
There's an issue with the Storage right now. We plan on releasing a fix for it today and updating the conference app accordingly. I just commented out the storage code so if you clone a fresh copy it should work now: https://github.com/driftyco/ionic-conference-app/commit/7465745f3f550200976e07cbaa11cdb9f3f0fca9

[2016-01-22 19:30] dylanvdmerwe opened #136 "Typescript"
Is there a reason why this sample project has not been done in Typescript?

[2016-01-22 19:44] brandyscarney commented on #136
There is a typescript branch, but we don't want to force typescript on our users: https://github.com/driftyco/ionic-conference-app/tree/typescript

[2016-01-22 19:46] dylanvdmerwe commented on #136
Interesting. What does the Ionic team recommend? What is the preference internally especially with the migration from Ionic 1 to 2?

[2016-01-22 23:12] brandyscarney commented on #131
This isn't added yet: https://github.com/driftyco/ionic/issues/5071

[2016-01-22 23:12] #131 closed

[2016-01-22 23:13] brandyscarney commented on #130
Please submit an issue through this form, it is most likely not caused by the conference app: http://ionicframework.com/submit-issue/

[2016-01-22 23:13] #130 closed

[2016-01-22 23:13] brandyscarney commented on #134
Please submit an issue through this form, this is not caused by the conference app: http://ionicframework.com/submit-issue/

[2016-01-22 23:13] #134 closed

[2016-01-22 23:13] brandyscarney commented on #135
Closing this as you should be able to run it now.

[2016-01-22 23:13] #135 closed

[2016-01-23 14:15] inceptiveDipak opened #137 "Missing app.build.js"
After downloading the ionic-conference-app successfully, i configured it successfully on my windows machine. When i run it using ionic serve then console show me "build/app.build.js" missing. Please help me how to resolve it.
Thanks in advance

[2016-01-29 06:12] cyprusglobe opened #139 "Question about json structure"
@brandyscarney how would one going about adding a second day to the json list?

[2016-01-29 12:37] chenzhizhuan opened #140 "In the Webstorm IDE，Warning: Unknown html tag ion-content"
Use ionic v1 is no problem，but ionic v2 is warning: Unknown html tag ion-content，Help me, pls. thanks.

[2016-01-29 12:39] chenzhizhuan opened #141 "In the Webstorm IDE，Loop index..."
Often loop index...，Cause the overall operating efficiency is slow.

[2016-01-29 20:41] #139 closed

[2016-01-30 00:14] brandyscarney opened #142 "Add RouteConfig working example"
Request for a RouteConfig example in the conf app. Thoughts @adamdbradley ?

[2016-01-30 00:15] lordgreg commented on #142
:+1:

[2016-02-01 01:02] matt4446 commented on #142
+1
this would be my preference in controlling the app state and understanding the navigation hierarchy of the app (making it easier to visualize and understand). Examples using the router directives (plus route parameters) instead of the component model controlling the routing would be advantageous too.

[2016-02-01 01:40] matt4446 commented on #136
Note: not from the Ionic team

I would recommend playing with Ionic at the moment. Even Angular is still still evolving (beta 1 to beta 2 has broken some of my changes in a different project - not Ionic). Try both ways and see which one suits your needs the most.

As a outsider I have found it easy enough to get Ionic 2 working in TypeScript in VS Code (Ionic CLI  provides a flag for creating a st

[2016-02-01 21:43] cyprusglobe commented on #142
:+1:

[2016-02-01 22:01] adamdbradley commented on #142
I'd like to hold off until ng2 router solidifies their upcoming changes first. Additionally, Ionic routing needs to be updated to work on tabs, which is waiting on the ng2 router updates.

[2016-02-01 22:02] adamdbradley commented on #142
This is a simple demo of using Ionic with RouterConfig: https://github.com/driftyco/ionic/blob/2.0/ionic/components/nav/test/routing/index.ts#L47

[2016-02-02 16:42] tlancina commented on #83
Looks to be a duplicate of https://github.com/driftyco/ionic/issues/5064, feel free to reopen if this is not the case, thanks!

[2016-02-02 16:42] #83 closed

[2016-02-02 16:46] tlancina commented on #136
You can start a typescript version of the starters by adding the `--ts` flag to the `start` command: `ionic start myapp --v2 --ts`.

I'm not sure we have an official stance at this point, but I personally find the workflow with VSCode and TypeScript to be quite enjoyable (having code completion, jump to definition, etc.), but in some ways it is another thing to learn, so if you have enough on your

[2016-02-02 16:46] #136 closed

[2016-02-02 16:53] tlancina commented on #140
Hey, it's very hard for us to help you without more information.  Also this sounds like it is potentially a webstorm issue and not an ionic conference app one.  Could you tell us how to reproduce the issue please?

[2016-02-02 16:53] tlancina commented on #137
Hey what is the output of `ionic info` and what are the steps to reproduce the issue? Thanks.

[2016-02-02 16:56] tlancina commented on #141
Hey, it's very hard for us to help you without more information. Also this sounds like it is potentially a webstorm issue and not an ionic conference app one. Could you tell us how to reproduce the issue please?

[2016-02-03 02:23] chenzhizhuan commented on #140
Runtime environment info：
MacBook Air (13-inch, Mid 2013) OS version: 10.10.5 (14F1605)
Webstorm 11.0.3

Step 1：
Clone ionic-conference-app from the github repository by webstorm

Step 2：
Run npm install from the project root.

Step 3：
Open the project by webstorm

Step 4：
Change webstorm preferences: Languages & Frameworks -> JavaScript -> JavaScript language version: ECMAScript 6 -> OK

Step 5：

[2016-02-03 02:30] chenzhizhuan commented on #141
Runtime environment info：
MacBook Air (13-inch, Mid 2013) OS version: 10.10.5 (14F1605)
Webstorm 11.0.3

Step 1：
Clone ionic-conference-app from the github repository by webstorm

Step 2：
Run npm install from the project root.

Step 3：
Open the project by webstorm

Step 4：
Change webstorm preferences: Languages & Frameworks -> JavaScript -> JavaScript language version: ECMAScript 6 -> OK

Step 5：

[2016-02-05 16:39] abdshomad commented on #115
Hi, I have the same error reported here.

Here's my ionic info:

vagrant@ionic-android:/vagrant_data/ionic-conference-app-PLAY$ ionic info

Your system information:

Cordova CLI: 5.1.1
Gulp version:  CLI version 3.9.0
Gulp local:
Ionic CLI Version: 2.0.0-beta.17
Ionic App Lib Version: 2.0.0-beta.8
OS: Distributor ID:     Ubuntu Description:     Ubuntu 14.04.1 LTS
Node Version: v0.12.7

Using inspe

[2016-02-05 17:10] brandyscarney commented on #115
@abdshomad Did you run `npm install` from the root of the project after downloading it?

[2016-02-10 13:23] stewones opened #145 "TS branch fails on ionic serve"
it seems that `ionic-framework/ionic`  has no exported member 'MenuController'.

[code]

[code]

[2016-02-13 16:39] DILEEP-YADAV opened #146 "How to develop Ionic v2 app without ionic CLI ?"
Hi! @adamdbradley
How to develop Ionic v2 app without ionic CLI? I mean manually with Bracket. I tested ionic-conference-app with bracket, but I did not show any response with chrome. How add lib file of ionic v2.

[2016-02-13 19:14] brandyscarney opened #147 "Implement the slideChangeStart event"
See https://github.com/driftyco/ionic/issues/5301

[2016-02-14 07:34] chenzhizhuan opened #148 "Tabs messed up iOS 8.4 simulator"
Chrome & Android device work fine，But iOS  device browser access（Have been deployed to http://ming.1g9f.com） and app run.

The screenshot：Before the three is wrong；After the three is right.
![1](https://cloud.githubusercontent.com/assets/4384043/13032476/40cb80e8-d32f-11e5-8420-1ade648c327a.png)
![2](https://cloud.githubusercontent.com/assets/4384043/13032477/40cd9e6e-d32f-11e5-81d5-69a9420ca028.p

[2016-02-16 17:11] brandyscarney commented on #148
I'm sorry but I don't understand the problem. Could you explain when the tabs don't look correct?

[2016-02-17 04:10] chenzhizhuan commented on #148
I'm sorry, I mistakenly said.Should be run to the apple machine, black screen and numerous according to the problems.There is no problem, you visit http://ming.1g9f.com?

[2016-02-17 11:55] inceptiveDipak opened #150 "Missing map on 2nd time open map view"
Hello,
I am configured ionic-conference-app on my android device, It run well, When i navigate to map view 1st time the map open successfully, but 2nd time it will not show. Also after login move to map view it doesn't show me map.
Thanks for help

[2016-02-17 11:58] inceptiveDipak commented on #137
Thank's for replay.
I got solution.
After clone successfully i run
npm i
ionic serve

[2016-02-17 16:38] brandyscarney commented on #137
Glad you got it working!

[2016-02-17 16:38] #137 closed

[2016-02-17 22:54] patrickdronk commented on #146
So what is your question? You need a server to host the angular. So you either do ionic serve, or you find another way to host the angular

[2016-02-18 19:55] #147 closed

[2016-02-18 22:46] tlancina commented on #145
Is this still an issue if you update to the latest version of the framework? `npm install ionic-framework@latest`.

[2016-02-19 23:33] brandyscarney commented on #146
I am going to close this as it is not an issue with the conference app. Please ask questions related to Ionic on the forums: https://forum.ionicframework.com/

Our CLI is also open source so you can go through and see what we use to serve your app (or any other commands): https://github.com/driftyco/ionic-cli/tree/master/lib/ionic

[2016-02-19 23:33] #146 closed

[2016-02-20 05:38] DILEEP-YADAV commented on #146
@brandyscarney  Ok! no problem I got it and working fine. if we will talking about related question, I am sorry @brandyscarney. I am new for entirety  ionic framework.

[2016-02-20 23:12] brandyscarney commented on #146
It's fine! This repository is s sample app of using Ionic 2.0. If you have any issues with using Ionic you can report them here: http://ionicframework.com/submit-issue/

Questions on using the framework are good to ask on the forums though. Most of the time you'll find someone who has the same question or an answer! :smile:

[2016-02-21 14:44] gigocabrera opened #154 "Menu Swipe Shows Tutorial Pages"
I installed the latest version of the ionic-conference-app (as of Feb 21, 2016) on my iPhone 6 with iOs 9.2.1 and when I open the menu by taping on the icon and then I swipe the menu back, I see the tutorial pages showing in between (see screenshot below)

![ionic-conference-app-error](https://cloud.githubusercontent.com/assets/6364855/13203175/a457f61e-d87f-11e5-9327-071953da48cc.PNG)

[2016-02-21 15:07] gigocabrera commented on #150
I was able to replicate the same issue on iPhone 6 with iOs 9.2.1. The map is missing on 2nd time no matter if you try to open it from menu or tabs

[2016-02-21 23:12] vrendina commented on #154
I also noticed the same issue. It occurs when swiping from left to right to open the menu on the schedules page. It only occurs when you have not selected a menu item yet. If I select schedules and then reopen the menu in the same way I do not see the problem. iPhone 5s, iOS 9.2.1 running through Ionic View.

![img_1274](https://cloud.githubusercontent.com/assets/8770713/13206129/38c8cd82-d8c6-11e

[2016-02-22 01:32] brandyscarney commented on #154
Thanks for the issue! We are reworking the menu a bit so we should have this fixed in the next release. :smile:

[2016-02-23 17:22] gigocabrera opened #155 "ion-item with a floating ion-label breaks when adding an icon"
Not sure if this is an ionic 2 issue or ionic-conference-app issue

If I add a left/right icons to an ion-item everything works fine

[code]

![floating_with_left_right_icons_03](https://cloud.githubusercontent.com/assets/6364855/13259959/91d900ec-da27-11e5-8df5-0deea1e8c599.png)

If I add a left/right icons to an ion-item with a floating label, it breaks

[code]

![floating_with_left_right_icons_

[2016-02-23 17:27] brandyscarney commented on #155
Yes, this is an ionic issue. I got around it for demo purposes by using `absolute` positioning on the icons:

https://github.com/driftyco/ionic/blob/2.0/demos/label/main.html#L15-L20
https://github.com/driftyco/ionic/blob/2.0/demos/label/main.html#L58-L68

This issue will resolve it: https://github.com/driftyco/ionic/issues/5319

[2016-02-23 17:27] #155 closed

[2016-02-24 21:14] gigocabrera commented on #155
Thank you @brandyscarney you're the best (from one Floridian to another)

[2016-02-24 21:37] brandyscarney commented on #155
Haha thanks. :smile:

[2016-02-25 10:27] ZiFFeL1992 opened #156 "White screen after resuming"
**Steps:**
1 - Open the app.
2 - Tap back button until the app is closed.
3 - When you tap on the icon to open it (was in background) there are a few seconds that the app has a white screen until it loads the first view.

**ionic info:**
[code]

[2016-02-26 10:38] mpaland opened #157 "Sidemenu doesn't open in Edge Browser"
The side menu does not open in Edge Browser. Menu icon is not clickable.
Same in FF 44 is no problem.

And the menu icon in FF 44 is rendered wrong. The middle line is too thin, see picture:
![conf-app-menu on ff](https://cloud.githubusercontent.com/assets/763140/13349918/03adb986-dc7d-11e5-9ce9-ec13e40acbe0.png)

Same on Edge:
![conf-app-menu on edge](https://cloud.githubusercontent.com/assets/76

[2016-03-01 14:14] ThomsC opened #158 "Error in ts file when lauch the app"
What I did :
[code]

Here is the error I got in the console :

[code]

[2016-03-01 16:52] brandyscarney commented on #158
These errors will be fixed in the next release (beta.2). They shouldn't be breaking anything. Thanks for the issue!

[2016-03-01 16:52] #158 closed

[2016-03-01 19:05] tlancina commented on #145
Hey going to close this, as I believe it's been fixed in the latest version of the framework.  Let us know if that's not the case though, thanks!

[2016-03-01 19:05] #145 closed

[2016-03-01 23:08] jboothe commented on #150
This can easily be replicated in Chrome or Safari in serve mode.

But note: Using tabs at bottom to navigate to and from Map tab works as expected. Only when using the side-nav Map, does the map not appear on subsequent selections.

[2016-03-01 23:29] jboothe opened #159 "Sticky Headers do not work in Chrome and Android"
Sticky Headers work in iOS emulator and Safari browser but do not work in Android emulator or Chrome browser.

Is this is by design?

[2016-03-02 03:12] ace-han opened #160 "Typescript or ES Style this demo project?"
Hello, there

I'm new to ionic2. It's a little confusing to me that I'm wondering whether this demo project is written in `ES Javascript` or `Typescript` style

Since `ionic2` is built on `angular2` and `angular2` is based on `Typescript` .

If written in `ES`, shouldn't this project's scripts end with an extension `.ts` instead of `.js` to make the point clear that `ionic2` is encouraging/preferr

[2016-03-02 04:08] ace-han commented on #160
Never mind, I figure it out. It's `ES6` style

However, I'm still wondering as a demo project. Why shouldn't it written in `Typescript` to align with the existing doc.

It's a little confusing...

[2016-03-02 14:29] tlancina commented on #160
Great question.  We maintain two branches, `master` is JS and `typescript` is the TypeScript version: https://github.com/driftyco/ionic-conference-app/tree/typescript

I've updated the README to make this more clear: https://github.com/driftyco/ionic-conference-app/commit/4d7e0d74486c08ec6f872a456f1a3e0d10853402.

Going to close this, but feel free to let us know if you have any other questions/co

[2016-03-02 14:29] #160 closed

[2016-03-02 16:41] cyprusglobe commented on #159
@jboothe:Android doesn't support sticky headers

[2016-03-06 10:13] ace-han commented on #142
I think an working example is not enough.
A working example with `auth` mechanism is much more appropriate

Like
* `ng1`: http://stackoverflow.com/questions/22537311/angular-ui-router-login-authentication
* third party plugin: https://auth0.com/blog/2016/02/18/ionic-2-authentication-how-to-secure-your-mobile-app-with-jwt/

To be specific, example that suits below requirement will be much better
1.

[2016-03-10 04:53] madibalive commented on #159
is it configurable to force android to show it , am assuming it scss issue or is it platform hardware issue

[2016-03-10 17:58] BugsBunnyBR opened #163 "google maps key hardcoded"
How about move it to somewhere else?
https://github.com/driftyco/ionic-conference-app/blob/typescript/www/index.html#L29

[2016-03-11 12:03] Sagamang opened #164 "Blank screen when opening ionic conference app"
I just downloaded the conference app and followed the steps thats are provided on:
http://ionicframework.com/docs/v2/

However, running ionic serve gives me a blank screen.

Fyi; no errors or warnings were given in the command prompt.

I hope that someone can help me out?
Because I have been working on 1 for a while and want to checkout ionic 2 now but I can not get it working.
Does anyone has a c

[2016-03-11 15:58] brandyscarney commented on #164
Can you tell me what steps you took? You may have missed the step to run `npm install`:

https://github.com/driftyco/ionic-conference-app#getting-started

[2016-03-11 16:31] Sagamang commented on #164
It is working now.
I did not followed the steps correctly.

Thanks for your response Brandy.

[2016-03-11 16:31] #164 closed

[2016-03-14 14:33] mauricionarcizo opened #165 "Error Emulate Android Api 19"
Emulate the ionic-conference-app in the android emulator and use android 4.4.4.
When touched any tabs, to change the tab, show the following error:
<code>
"TypeError: Cannot redefine property: length
                                                                 at defineProperty (native)
                                                                 at Function.Object.defineProperty (file:///

[2016-03-18 08:05] kuntal-b commented on #159
Facing same problem .
[Form Post](https://forum.ionicframework.com/t/problem-with-ionic-conference-app/46760)

[2016-03-18 14:38] madibalive commented on #159
head it browser related  - appears chrome doesnt support these feature , so very unlikely to come in future release for android  -  best option is to for ionic 1.x sticky header

[2016-03-21 02:32] gigocabrera opened #166 "Error: Cannot re-export name that is not defined in the module"
I'm getting the following error when I run `ionic serve`. I am using the latest as of today

![ionic-conference-app-error-05](https://cloud.githubusercontent.com/assets/6364855/13909514/43a9f4f2-eeeb-11e5-98cd-e0702765ceac.PNG)

[code]

[2016-03-21 02:42] ace-han commented on #166
@gigocabrera I've come across this issue. Plz upgrade your angular version to the latest one

you can refer to https://github.com/angular/angular/issues/6468

and I think `package.json` in this demo project should upgrade the version number for `angular2`

[2016-03-21 04:04] gigocabrera commented on #166
@ace-han pardon my ignorance but how do you upgrade angular to the latest?

[2016-03-21 05:01] ace-han commented on #166
@gigocabrera just cd to your project folder and then
`npm install angular2@>2.0.0-beta.9`
you may probably upgrade the `es6-shim` versions along, too, according to the output

[2016-03-22 12:34] gigocabrera commented on #166
Awesome, thank you!

[2016-03-22 23:41] aaronklaser opened #167 "Cannot find module 'colors'"
Aarons-MacBook-Pro:SyndicateApp aaronklaser$ ionic serve
Caught exception:
 Error: Cannot find module 'colors'
    at Function.Module._resolveFilename (module.js:327:15)
    at Function.Module._load (module.js:278:25)
    at Module.require (module.js:355:17)
    at require (internal/module.js:13:17)
    at Object.<anonymous> (/usr/local/lib/node_modules/ionic/lib/cli.js:2:14)
    at Module._compil

[2016-03-22 23:44] brandyscarney commented on #167
Can you run `ionic info` and paste the output please?

[2016-03-23 00:54] aaronklaser commented on #167
Same lol. Happens in both master and typescript branches. npm and ionic -g are up to date.

Aarons-MacBook-Pro:SyndicateApp aaronklaser$ ionic info
Caught exception:
 Error: Cannot find module 'colors'
    at Function.Module._resolveFilename (module.js:327:15)
    at Function.Module._load (module.js:278:25)
    at Module.require (module.js:355:17)
    at require (internal/module.js:13:17)
    at O

[2016-03-23 00:57] brandyscarney commented on #167
What's the command you're running to install ionic? `npm install -g ionic@beta`?

[2016-03-23 01:09] brandyscarney commented on #157
This issue was moved to driftyco/ionic#5910

[2016-03-23 01:09] #157 closed

[2016-03-23 01:10] brandyscarney commented on #159
This issue was moved to driftyco/ionic#5911

[2016-03-23 01:10] #159 closed

[2016-03-23 01:12] brandyscarney commented on #166
@gigocabrera Is this working for you now?

[2016-03-23 01:14] aaronklaser commented on #167
That work! It's weird though I literally JUST ran that on a different project. Does that need to be ran for each project? I thought global was global.

[2016-03-23 01:36] brandyscarney commented on #167
No the `-g` should install it globally. Maybe something messed up on the install?

[2016-03-23 01:39] gigocabrera commented on #166
@brandyscarney no it didn't. The command below completed fine with a few warning but the conference app didn't load

`npm install angular2@>2.0.0-beta.9`

I'm not experienced enough to troubleshoot the issue and find a solution

[2016-03-23 01:56] brandyscarney commented on #166
Can you try the following:

- Update the CLI to 21: `npm install -g ionic@beta` (may require sudo)
- Clone latest of conference app
- Run `npm install` in conference app

Then if you're still getting the error can you run this command `npm list --depth=0` and paste the output here?

[2016-03-23 02:00] #163 closed

[2016-03-23 02:01] brandyscarney commented on #163
It has been removed, thanks!

[2016-03-23 02:04] brandyscarney commented on #167
I'm going to close this since it's working now. :smile:

[2016-03-23 02:04] #167 closed

[2016-03-23 02:21] brandyscarney commented on #141
It looks like this was reported to webstorm here: https://youtrack.jetbrains.com/issue/WEB-20651

If this is a different issue, could you open a new issue on their issue tracker? https://youtrack.jetbrains.com/issues/WEB

[2016-03-23 02:21] #141 closed

[2016-03-23 02:25] gigocabrera commented on #166
@brandyscarney I did as requested and I still see the error

- Updated CLI to 21
- Cloned the latest
-  Ran npm install

Here's the output for the `npm list --depth=0` command:

[code]

[2016-03-23 02:42] brandyscarney commented on #166
Ok so I was able to reproduce it on the typescript branch. Sorry, I was testing on the master branch of the conference app. :disappointed: I found an open issue for it on the CLI repo: https://github.com/driftyco/ionic-cli/issues/848

It looks like it will be fixed when we update the framework to use the latest angular version, but this comment has a workaround for now: https://github.com/angular/

[2016-03-23 02:56] #133 closed

[2016-03-23 02:59] brandyscarney commented on #156
@ZiFFeL1992 What device was this on?

[2016-03-23 03:00] brandyscarney commented on #148
I'm going to close this because it doesn't look like it's an issue with the conference app. Can you please create a separate issue on the ionic repo if you're still experiencing this problem? https://github.com/driftyco/ionic/issues

Thanks!

[2016-03-23 03:00] #148 closed

[2016-03-23 03:23] brandyscarney commented on #165
Does this still happen with the latest code? Have you tested on an Android device/Genymotion or just the android emulator?

[2016-03-23 12:38] ZiFFeL1992 commented on #156
Give me a few days, the issue was on android and I don't have one at the moment.
iOS seems to be working fine.

[2016-03-23 13:00] gigocabrera commented on #166
@brandyscarney as always, you're the best!!! The error message went away.

[2016-03-23 13:25] mauricionarcizo commented on #165
Hi!
Yes, still happen with the latest code. I test just on the genymotion.

[2016-03-23 21:25] gigocabrera opened #169 "Screens missing "elastic" effect in iOS"
I installed the conference app in my iPhone 6 and the schedule page does have the "elastic" effect when you pull down on the screen and it slowly scrolls back to the top. The rest of the pages do not behave like that. Is this something I need to add to each page to achieve this effect? Or is this a bug?

Ionic 1 does have that on every screen out of the box.

What am I missing?

[2016-03-24 14:52] brandyscarney commented on #166
Awesome! I'll keep this open until we get the fix in in case anyone else runs into it. :smile:

[2016-03-26 19:58] jguitart commented on #156
Hi. I have a similar problem.
The app simply shows a white screen in android (physical Nexus 4 and emulated nexus 5). And the same with an emulated ios.

[2016-03-28 11:01] coto opened #170 "White screen just for Android"
Prior clarification: There are more topics in Ionic forum and Stackoverflow about White Screen only in Android but no one works for me.

I don't have any problem running the demo in with `ionic serve` or `ionic emulate ios`, but when I try to run in Android (virtual devices created with Android Studio 1.5.1 or Genymotion 2.6.0)

This what I got with chrome://inspect for Android Virtual Device Nexu

[2016-03-28 12:13] DILEEP-YADAV opened #171 "how to use icon with filter at place of .dot class ?"
Hi ! I have one question regard of ionic-conference-app. I want to use icon with filter at place of .dot class ? But Icon should according  filter data. just like I put filter on angular than Icon should angular.
How can I do ? please help.

[2016-03-29 12:59] ZiFFeL1992 commented on #156
Here is a demo video: https://drive.google.com/open?id=0BzzwDw5jEO0xenM4cVVXejJVZzg

Running on a Nexus 5x.

[2016-03-29 15:06] brandyscarney commented on #171
@DILEEP-YADAV I'm not sure what you're asking for. Could you provide me a code sample or image of what you'd like to achieve?

[2016-03-29 15:49] brandyscarney commented on #156
@ZiFFeL1992 Thanks for the video! I am able to reproduce this. Will investigate.

[2016-03-29 16:12] jbotuckBH opened #172 "Android splashscreen not showing"
my system info
Cordova CLI: 6.0.0
Gulp version:  CLI version 3.9.0
Gulp local:   Local version 3.9.1
Ionic Version: 2.0.0-beta.3
Ionic CLI Version: 2.0.0-beta.22
Ionic App Lib Version: 2.0.0-beta.12
OS: Windows 7 SP1
Node Version: v4.2.6

[2016-03-29 16:17] #170 closed

[2016-03-29 16:18] brandyscarney commented on #170
@coto Thanks for the detailed issue! This should be fixed now with the latest code. Could you clone the latest and let me know if it works for you?

[2016-03-29 17:48] DILEEP-YADAV commented on #171
![filter](https://cloud.githubusercontent.com/assets/8583769/14117863/4c4f1fa4-f604-11e5-9ed4-ab2db40f74ca.PNG)

talking about this code:  schedule-filter.html

<ion-toolbar>
  <ion-buttons start>
    <button (click)="dismiss()">Cancel</button>
  </ion-buttons>

  <ion-title>
    Filter Sessions
  </ion-title>

  <ion-buttons end>
    <button (click)="applyFilters()">Done</button>
  </ion-buttons>

[2016-03-29 17:49] pgorbas commented on #166
Thanks for keeping this open - I had to apply Brandy's fix as well.

[2016-03-29 18:06] DILEEP-YADAV commented on #171
@brandyscarney  How to use multiple icons using array with filter track.
I mean :    Angular                                    with Angular icon
                 Communication                        with Communication icon
                 Design                                      with Design   icon
                   ect.......................................................................
Bu

[2016-03-29 18:34] brandyscarney commented on #171
@DILEEP-YADAV Please ask questions related to the framework on the [forums](https://forum.ionicframework.com/c/ionic-2) as this is not an issue with the conference app itself. You can achieve what you want by using an `ion-icon` with `item-left` like so:

[code]

where `track.icon` is defined for each `track`. If you have any further questions please create a topic on the forums at the link I prov

[2016-03-29 18:34] #171 closed

[2016-03-29 22:39] uiktiomasfeliz opened #173 "How i navigate from any TabsPage to TutorialPage??"
#### Short description of the problem:
Can't navigate from any TabsPage (SchedulePage,SpeakerListPage,MapPage,AboutPage) to TutorialPage hiding topbar and the tabs

I tried :

[code]
and
[code]

![bug](https://cloud.githubusercontent.com/assets/5663564/14127077/a830eb0c-f615-11e5-9327-6a80f8b585a1.PNG)

![iosbug](https://cloud.githubusercontent.com/assets/5663564/14127579/545d7b18-f619-11e5-80ee-a

[2016-03-30 18:29] coto commented on #170
@brandyscarney yes, that fixed it. Thanks a bunch :+1:

[2016-03-31 04:57] chalme opened #177 "Application Error"
What's wrong?
The connection to the server was unsuccessful. (file:///android_asset/www/index.html)
if you know, please tell me.  thanks.

[2016-03-31 07:56] DILEEP-YADAV commented on #171
ok ! thanks

[2016-04-03 12:55] lolaswift opened #178 "Cannot find module 'babelify'"
#### Short description of the problem:
Not working on Windows 10

#### What behavior are you expecting?

**Steps to reproduce:**
1. run ionic serve

[code]

**Other information:** (e.g. stacktraces, related issues, suggestions how to fix, stackoverflow links, forum links, etc)

**Which branch are you on?** master or typescript
master

**Run `ionic info` from terminal/cmd prompt:** (paste output be

[2016-04-04 02:01] pjhartin commented on #178
From memory, I had the same issue. To resolve, I added
`    "babel-preset-es2015": "^6.6.0"`
to devDependencies in the package.json.

Make sure to run `npm install` afterward, and you should be good to go.

[2016-04-05 00:33] tlancina commented on #178
This happens if you have npm2, you can either update to npm3 or run `npm install babelify babel-plugin-transform-decorators-legacy babel-preset-es2015`.

Going to leave open as I'll add these in so that npm2 users don't have issues.

[2016-04-05 00:35] tlancina commented on #178
Although I think the reason this was done originally was because npm2 users have really, really slow build times with Babel: https://github.com/driftyco/ionic-cli/issues/864#issuecomment-201702726.

[2016-04-05 03:40] zhouhao27 opened #179 "Feature request: login with FB ?"
This is very nice app from where we can study ionic 2. Is it possible to add some features like **login with Facebook** ? Thanks.

[2016-04-05 06:14] FxLsoft3 opened #180 "ReferenceError:Unknown plugin "transform-decorators-legacy" specified in "base""
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:

#### What behavior are you expecting?

**Steps to reproduce:**
1.
2.
3.

[code]

**Other information:** (e.g. stacktraces, related issues, suggestions how to fix, stackoverflow links, forum links, etc)

**Which branch ar

[2016-04-05 20:26] brandyscarney commented on #180
Could you give us more information, please? Filling out the information in the issue template is to help us help you. :smile:

What command are you running to get this error?
What branch are you on?
Can you run `ionic info` inside of the project and paste it here?

[2016-04-05 20:56] brandyscarney commented on #173
Hey! Thanks for the issue. This is actually a support question. In the future can you please post any support questions on the forum under the ionic 2 category: https://forum.ionicframework.com/c/ionic-2

It will help other people who have the same question as you to find an answer there! The reason `nav.push` doesn't work is because the tabs have a separate nav stack. You need to grab the parent

[2016-04-05 20:56] #173 closed

[2016-04-05 21:46] brandyscarney commented on #169
@gigocabrera So this is actually on purpose right now to only work with scrollable pages. There's an open issue here on whether or not to add it for all pages: https://github.com/driftyco/ionic/issues/5275

Please add any feedback you have to that issue. Thanks for bringing this up!! :smile:

[2016-04-05 21:46] #169 closed

[2016-04-05 22:11] brandyscarney commented on #177
Thanks for the issue! I'm going to close this as it doesn't seem like it's an issue with the conference app itself. Please visit our [forum](https://forum.ionicframework.com/) or [slack channel](http://ionicworldwide.herokuapp.com/) for questions about the framework. :smile:

If this is an issue with the conference app, please create a new issue with answers to the pre-populated questions:

![scre

[2016-04-05 22:11] #177 closed

[2016-04-05 22:16] lolaswift commented on #178
@pjhartin: thx for the help but that didn't solve the issue

[2016-04-05 22:18] lolaswift commented on #178
@tlancina: upgraded to npm 3 fixed the issue. Now I can "ionic serve" works. Millions of thanks~
@brandyscarney: thx as well brandy.

[2016-04-05 22:23] brandyscarney commented on #178
@lolaswift Glad it's working for you! Going to close this. Thanks!

[2016-04-05 22:23] #178 closed

[2016-04-05 23:01] brandyscarney commented on #140
Hey @chenzhizhuan, thanks for the issue and sorry it took so long to get back to you! I've followed the steps you provided and I am not able to see any errors, it also shows `ion-content` as an option as soon as I start typing `ion-c`. Is this still an issue for you? Here's my IDE info:

[code]

and here is a screenshot of how it appears for me:

![screen shot 2016-04-05 at 6 56 32 pm](https://clo

[2016-04-06 02:55] FxLsoft3 commented on #180
When I run ionic serve,I have two problems ,that is
![image](https://cloud.githubusercontent.com/assets/13415380/14304500/f0c7e156-fbe5-11e5-899f-010b0ec39035.png)

[2016-04-06 03:19] cvssandhu opened #181 "build folder is missing in project directory."
build folder is missing in project directory which is required to run the project.

while trying to create ionic 2 project from Node js then also its not generating.

[2016-04-06 19:26] brandyscarney commented on #180
@FxLsoft3 Can you run this command for now to fix the Unknown plugin error:

[code]

We'll look into the cause of this.

I still need more info to help you with the other error. Can you please respond to my previous questions?

[2016-04-07 01:57] jbraun27 commented on #180
I just grabbed the latest ionic-conference-app and ran into the same missing dependency, and after you resolve that one, you'll run into another.

- npm install babel-plugin-transform-decorators-legacy
- npm install babel-preset-es2015

After that, you should be able to "ionic serve" and be back in business.

ionic info:
Cordova CLI: 6.1.1
Gulp version:  CLI version 1.2.1
Gulp local:   Local versi

[2016-04-07 02:21] brandyscarney commented on #180
Thanks for the info @jbraun27! This is something we'll need to account for, but just to add, updating npm to 3.x _should_ install these for you when you run `npm install`.

You can run `sudo npm install -g npm` to update npm.

[2016-04-07 03:14] jbraun27 commented on #180
Aaahhh.. perfect. yes, keeping versions in synch for all projects is a real challenge. Thank you @brandyscarney
I see that Max Lynch and Microsoft's Ryan Salva presented a version of this code at //build/ 2016:
https://channel9.msdn.com/Events/Build/2016/B835
But, there are some enhancements, additions, and code to connect to Azure and login providers etc.  Do you know if that code is going to be

[2016-04-07 03:33] villander opened #182 "Can't find babelify module"
ionic-conference-app git:(master) ionic serve

Running 'serve:before' gulp task before serve
[00:31:20] Starting 'clean'...
[00:31:20] Finished 'clean' after 8.48 ms
[00:31:20] Starting 'watch'...
[00:31:20] Starting 'sass'...
[00:31:20] Starting 'html'...
[00:31:20] Starting 'fonts'...
[00:31:20] Starting 'scripts'...
[00:31:20] Finished 'scripts' after 64 ms
[00:31:20] Finished 'html' after 90 m

[2016-04-07 10:25] stefanhuber opened #183 "Feature request: Testing Examples and HowTos"
Ionic is great!

There is a big problem still. I don't know how to setup a testing environment for ionic2 apps:
 - How can I write executalbe unit tests?
 - Where to put the unit tests?
 - What about e2e testing?

I am aware that there are so many different approaches to testing, but still a "recommended approach by the ionic team" would be so necessary!

Even this demo app has absolutely no testi

[2016-04-07 16:10] jbraun27 commented on #180
Disregard my last question, I see that the link to the code presented at /build// 2016 is included now in the comments section.

[2016-04-07 18:34] jbraun27 commented on #182
More than likely, you need to update NPM which will include the babelify dependancies.  See Issue #180 Check your version of NPM by running `npm -v` , it should be v3.x. Run  `sudo npm install -g npm`  to update npm. and you should be good to go.

[2016-04-08 01:13] villander commented on #182
Thanks @jbraun27

[2016-04-08 01:13] #182 closed

[2016-04-08 22:53] tlancina commented on #180
Hey this should be fixed for npm2 users with https://github.com/driftyco/ionic-gulp-tasks/commit/8024997103827d66170b82443a7d1160540806ed

[2016-04-08 22:53] #180 closed

[2016-04-08 22:53] tlancina commented on #178
This should now work for npm2 users with: https://github.com/driftyco/ionic-gulp-tasks/commit/8024997103827d66170b82443a7d1160540806ed (although builds will still be slower).

[2016-04-08 23:01] brandyscarney commented on #181
Thanks for the issue! I'm going to close this as it doesn't seem like it's an issue with the conference app itself. Please visit our [forum](https://forum.ionicframework.com/) or [slack channel](http://ionicworldwide.herokuapp.com/) for questions about the framework. :smile:

If this is an issue with the conference app, please create a new issue with answers to the pre-populated questions:

![scre

[2016-04-08 23:01] #181 closed

[2016-04-11 13:26] jgr3go commented on #142
I think to add to @ace-han's list would be a third item:

3. Force redirect to login on app start, all pages are only accessible if logged in.

This is a much more common paradigm for apps than for websites, which is my main issue with the [auth0](https://auth0.com/blog/2016/02/18/ionic-2-authentication-how-to-secure-your-mobile-app-with-jwt/) example -- it's very likely that apps would want to fo

[2016-04-11 20:49] brandyscarney commented on #166
This should be fixed with the latest code of the conference app. Please let me know if you run into issues! Thanks for the issue!

[2016-04-11 20:49] #166 closed

[2016-04-12 15:03] mamhf opened #184 "White screen when run on android 4.3"
After the last update when i enter run on android i have a blanc screen
Android version: 4.1
I get this message from Android Device Monitor
![image](https://cloud.githubusercontent.com/assets/10777824/14464704/42d4916c-00d0-11e6-8998-c107859c650a.png)

[2016-04-14 09:15] sghoe commented on #172
Hello jbotuchBH,

I had the same issue in conference-app and my app.
Updating the plugin fixed it for me.

[2016-04-14 15:54] adamdbradley opened #185 "Update dependencies/devDependencies"
See which modules should be moved over to `devDependencies`, and if any `dependencies` are required for a user's package.json:

https://github.com/driftyco/ionic-conference-app/blob/master/package.json

[2016-04-14 15:57] adamdbradley opened #186 "Research how zone/angular polyfills should be added"
There have been some changes to how zone and angular-polyfills are added to projects. Research the correct way and update our starters appropriately.

Related: #185

[2016-04-14 16:02] adamdbradley commented on #186
And for the starters: https://github.com/driftyco/ionic2-app-base/blob/master/package.json

[2016-04-15 19:14] jgw96 opened #187 "White screen on ios"
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:
White screen on ios 9.3 when starting the app

**Steps to reproduce:**
1. Pull latest ionic nightly and run on the ios emulator

opening this issue to have one to reference in my PR. Will close when fix is commited.

[2016-04-15 19:17] #187 closed

[2016-04-15 20:42] jbotuckBH commented on #172
In my app the problem was that the display time and fade time were equal. In order for the screen to show the display time must be > the fade time

[2016-04-18 04:29] cillay commented on #184
Hi.I tried to help before thinking that bind was undefined, but it looks like the function for which the bind method is being invoked is undefined. I also had something like this before, with a white screen (essentially a fatal JavaScript error before the rendering) and it turned out to be a Google Maps library referencing objects that had not loaded yet.  If you can trace down the error, maybe do

[2016-04-19 18:21] tlancina commented on #186
Right now we use angular2-polyfills for zone.js and reflect-metadata, which I believe is what Angular recommends at the moment. We also include es6-shim for compatibility on platforms where Promises and Collections aren't natively supported, which might be overkill according to https://github.com/angular/angular/issues/7124.

https://github.com/angular/angular/blob/master/modules/angular2/docs/bun

[2016-04-19 18:33] jgw96 commented on #186
We could almost get away with not polyfilling promises: http://caniuse.com/#feat=promises

[2016-04-20 19:49] Vinothapplife commented on #117
Same Error i am getting . and i am not able to build and deploy . please help this. Failed to load resource: the server responded with a status of 404 (Not Found) #117

[2016-04-20 20:00] brandyscarney commented on #117
@Vinothapplife What steps did you take after cloning the project? Please see my previous comment: https://github.com/driftyco/ionic-conference-app/issues/117#issuecomment-167940165

[2016-04-21 18:46] Vinothapplife commented on #117
![error](https://cloud.githubusercontent.com/assets/8506362/14720423/0474046a-081f-11e6-95af-fa162468789c.png)

@brandyscarney  after installed Cordova CLI: 6.1.1. i am getting this error. early waiting to see ionic 2 in my mobile. still i am not able to see. i hope you will give good solution. if yo have any demo please share to me. vinothapplife@gmail.com

[2016-04-22 17:14] Ashu1504 commented on #170
I am having the same issue. I started an entire new hello world app with blank template. When I run the app using `ionic serve` it works properly. But I get a blank white screen when I try to run it in `genymotion : Sony xperiaZ -4.2.2 - API 17`. I use `ionic build android ` . I have also updated my ionic cli to the latest version `2.0.0-beta.25` , but still i get this error. (Also tried `import '

[2016-04-23 08:26] Ashu1504 commented on #170
Looks like I am not able to target api 17. If I run my app in genymotion on a different virtual device with api level 23 , everything works fine.

I checked my android manifest file also . It says minimum SDK version as 16. So running on api level 17 should not be an issue. I don't know what is the reason but currently I am working with api level level 23 only (no other option though).

Moreover,

[2016-04-23 22:28] koo9 commented on #114
having the same issue. update everything to the latest.
Your system information:

Cordova CLI: 6.1.1
Ionic Framework Version: 2.0.0-beta.3
Ionic CLI Version: 2.0.0-beta.25
Ionic App Lib Version: 2.0.0-beta.15
OS:
Node Version: v4.1.1

nothing output to the www/build folder.

any idea?

[2016-04-24 16:25] brandyscarney commented on #114
Can you try running `npm install` again? The conference app is using beta 6. Did you clone it recently or has it been awhile? Also, which branch are you using?

[2016-04-24 16:52] koo9 commented on #114
hi Brandy,

Thanks for replying on Sunday :)

I have tried `npm install` but no help. I just downloaded the zip file from the main branch.
guess it's outdated project structure as the ionic.config.js is obsoleted. it seems like the gulp task is not picking up.

[2016-04-25 10:55] zengchuan opened #188 "how to add firebase"
**Steps **
1. npm install firebase --save
2. import * as Firebase from 'firebase';
3. this.firebase = new Firebase('https://XXXX.firebaseio.com');

I got error: ORIGINAL EXCEPTION: ReferenceError: Firebase is not defined
When I use "ionic-angular": "2.0.0-beta.2", it is right. But now "ionic-angular": "2.0.0-beta.6", it is wrong.

[2016-04-25 11:22] zengchuan commented on #188
var Firebase = require("firebase");
it is ok!

[2016-04-25 11:22] #188 closed

[2016-04-25 15:58] brandyscarney commented on #114
@koo9 Unfortunately I'm not able to reproduce this. I cloned the conference app from master and ran `npm install`, I get the following running `ionic info`:

[code]

I'm confused that yours is printing `Ionic Framework Version: 2.0.0-beta.3` since it should be installing `2.0.0-beta.6` as of 4 days ago. Can you try removing the `node_modules` folder and doing a fresh `npm install`?

[2016-04-25 16:00] koo9 commented on #114
Well do.  Thx!

Sent from my Samsung device

-------- Original message --------
From: Brandy Carney <notifications@github.com>
Date: 04-25-2016  9:58 AM  (GMT-07:00)
To: driftyco/ionic-conference-app <ionic-conference-app@noreply.github.com>
Cc: Kevin <koo9@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [driftyco/ionic-conference-app] /build directory contains no html files (#114)

[2016-04-26 02:36] thomastthai opened #189 "Show Schedule for Multiple Days"
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/
#### Short description of the problem:

Currently only shows one day for the conference. I recommend adding data for another day and change the loop to show the second day under Schedule as well.
#### What behavior are you expecting?

**Steps to reproduce:**
1.

[2016-04-26 15:25] koo9 commented on #114
hi Brandy,

downloaded the code again and did a clean install. works fine now.

a question though, when starting up an app like google business, the splash screen shows up instantly and the UI shows up very quickly after. the app seems to load for a few second (4-5 seconds of white screen) before the UI shows up, now is it expected?

[2016-04-26 15:42] keithdmoore commented on #186
So after npm install, this is expected ?
npm WARN angular2@2.0.0-beta.15 requires a peer of reflect-metadata@0.1.2 but none was installed.
npm WARN angular2@2.0.0-beta.15 requires a peer of zone.js@^0.6.10 but none was installed.

[2016-04-26 15:44] jgw96 commented on #186
@keithdmoore Hey! So yep this is expected for right now, i put up an issue explaining why you would get these warnings here: https://github.com/driftyco/ionic/issues/6311. Thanks for using ionic!

[2016-04-26 19:39] Vinothapplife commented on #54
@brandyscarney  i have installed the this app and its loading and can see the browser. But, I have created new pages in app folder. its not at all build and display in www folder.  live reload not working. can you tell me the what changes i need to do in gulp file.

[2016-04-28 16:57] evgeniynet commented on #184
Hi, same issue

thanks for posting great tool. I am a newby in ionic and I need to run my ionic 2 app on old android devices (2.2) with ecmascript 3 support.
Especially I got errors on "delete" methods which is reserved in es3,
is there is option how to specify target ES3 or use es3ify to have compatibility to older browsers?

Any help appreciated,
Eugene

[2016-04-28 18:00] brandyscarney commented on #140
Going to close this as I don't think it is an issue anymore. Please let me know if otherwise and I will reopen. Thanks!

[2016-04-28 18:00] #140 closed

[2016-04-28 18:07] jgw96 commented on #184
Hello @mamhf ! Thanks for opening an issue with us! Would you be able to try crosswalk with your app? We recommend using crosswalk on any version of android older than 4.4 as the webview on those older versions of android are really slow and have bad html5 support. Here is a good link on how to use crosswalk with ionic: http://ionicframework.com/docs/cli/browsers.html . @evgeniynet Unfortunately w

[2016-04-28 18:12] jgw96 commented on #165
@mauricionarcizo Hello! We have recently had a few new releases of Ionic 2. Would you mind testing again and see if you still have the issue?

[2016-04-28 18:23] jgw96 commented on #156
Note: I can reproduce this issue with the latest version of the ionic conf app, as well as a few of my apps.

[2016-04-28 18:26] jgw96 commented on #154
Note: i am still able to reproduce this issue on ios 9.3.1 with the latest version of the conf app

[2016-04-28 18:58] cillay commented on #184
Here is a table showing just what Angular 2 officially supports:
https://twitter.com/bradlygreen/status/651503849623064576/photo/1

[2016-04-28 19:54] jgw96 commented on #172
Hello @jbotuckBH ! Thanks for opening an issue with us! Are you still having this issue?

[2016-04-28 20:46] jbotuckBH commented on #172
yes using

Cordova CLI: 6.0.0
Gulp version:  CLI version 3.9.0
Gulp local:   Local version 3.9.1
Ionic Framework Version: 2.0.0-beta.3
Ionic CLI Version: 2.0.0-beta.25
Ionic App Lib Version: 2.0.0-beta.15
OS: Windows 7 SP1
Node Version: v4.2.6

[2016-04-28 20:59] jgw96 commented on #172
@jbotuckBH Would you mind pulling the latest code (`git pull`) and trying again? This way you will have the latest version which uses ionic 2 beta.6

[2016-04-29 12:40] evgeniynet commented on #184
thanks

[2016-04-29 14:09] evgeniynet commented on #184
please look on https://github.com/driftyco/ionic-cli/issues/898
I fixed this on changing

exports.raf = window.requestAnimationFrame || window.webkitRequestAnimationFrame;

need to change in ionic.js in  node_modules/ionic-angular/bundles
or
app.bundle.js (each build)

[2016-04-29 14:11] evgeniynet commented on #184
now runs with success on https://www.manymo.com 4.1 - 4.2 emulators

[2016-04-29 15:21] #184 closed

[2016-04-29 15:41] mauricionarcizo commented on #165
Similar error:
"EXCEPTION: Error: Uncaught (in promise): TypeError: Cannot redefine property: length", source: file:///android_asset/www/build/js/app.bundle.js (31110)
04-29 11:38:29.361 4073-4073/io.ionic.conference I/chromium: [INFO:CONSOLE(31110)] "STACKTRACE:", source: file:///android_asset/www/build/js/app.bundle.js (31110)
04-29 11:38:29.361 4073-4073/io.ionic.conference I/chromium: [INFO:CO

[2016-04-29 15:53] jgw96 commented on #165
@mauricionarcizo and this is happening with android 4.4.4 right?

[2016-04-29 18:09] mauricionarcizo commented on #165
@jgw96 Yes, I test on genymotion and android 4.4.4

[2016-04-29 18:36] jgw96 commented on #165
@mauricionarcizo Sorry should have asked this earlier, are you using the latest code for the conf app? ie: `git pull && npm install` ?

[2016-04-29 18:39] mauricionarcizo commented on #165
Yes, I updated from git and do npm install

[2016-05-07 01:37] arlowhite commented on #140
WebStorm 2016.1.1 doesn't have any errors on <ion-content> or other tags for me. So I think users really need to be on the latest version of WebStorm. They've been doing a lot of improvement to Typescript support as well.

[2016-05-13 12:14] michaeldesigaud commented on #165
I've got the same problem on genymotion and Android 4.4.4 but it works on genymotion and Android 5.0.0. It also work on real device with Android 5.1.X

[2016-05-13 15:22] brandyscarney opened #191 "Remove JS version and make TS master"

[2016-05-13 15:51] brandyscarney opened #192 "Remove old branches"
Can we get rid of any branches that are no longer being developed on?

[2016-05-13 15:57] brandyscarney commented on #191
So the conference app is used by the start command in the CLI here:

https://github.com/driftyco/ionic-app-lib/blob/v2/lib/start.js#L42-L48

and it checks for the typescript branch so we can't remove it until this is handled by the CLI:

https://github.com/driftyco/ionic-app-lib/blob/v2/lib/start.js#L183

making this blocked by: https://github.com/driftyco/ionic-cli/issues/906

[2016-05-13 20:05] #192 closed

[2016-05-13 21:27] brandyscarney commented on #185
Closing per @tlancina

[2016-05-13 21:27] #185 closed

[2016-05-13 21:28] #186 closed

[2016-05-13 21:37] brandyscarney opened #193 "Replace the Ionic team with animals"
Need to remove the Ionic team as the Speakers and use animals instead. 😜

[2016-05-13 22:51] #193 closed

[2016-05-13 23:35] #150 closed

[2016-05-13 23:36] brandyscarney commented on #150
I updated the side menu and I can no longer reproduce this (I previously could). Could you pull the latest from the conference app, run a fresh `npm install` and `ionic serve` and let me know if it still happens? Thanks!

[2016-05-13 23:42] brandyscarney commented on #154
I _thought_ this was fixed by my most recent commit, however, I can still reproduce it on the master branch. However, I can't reproduce it on the typescript branch. I believe it is the same as this issue: https://github.com/driftyco/ionic/issues/5575, so I'm going to mark this blocked.

[2016-05-14 13:08] gigocabrera commented on #150
I just pulled latest from the typescript branch and ran `npm install` and `ionic serve` and I get the error below now. Steps to reproduce are tricky, I started going back and forth between the map page and other pages until this error popped up.

Here's my info
Your system information:

Cordova CLI: 5.4.1
Gulp version:  CLI version 3.8.11
Gulp local:   Local version 3.9.1
Ionic Framework Version:

[2016-05-15 16:34] #156 closed

[2016-05-15 16:34] #172 closed

[2016-05-15 19:30] brandyscarney commented on #156
Hey! This should be fixed with the latest code on both the master and typescript branch. Please clone a fresh copy of the conference app, run `npm install` and then `ionic platform add android` (remove it first if it is already installed). Then, run `ionic run android` and it should be fixed. Note: you may need to remove the conference app from your device if it is already installed. Let me know i

[2016-05-15 19:31] brandyscarney commented on #172
Hey! This should be fixed with the latest code on both the master and typescript branch. Please clone a fresh copy of the conference app, run `npm install` and then `ionic platform add android` (run `ionic platform rm android` if it is already installed). Then, run `ionic run android` and it should be fixed. Note: you may need to remove the conference app from your device if it is already installe

[2016-05-15 20:46] brandyscarney commented on #150
If you're able to consistently reproduce it can you create a new issue with the error? I can't reproduce this so some exact steps would be great. :smile:

[2016-05-16 01:33] pjhartin commented on #150
@gigocabrera I noticed that you have not entered any API keys. The way that page is currently coded, each time the page is loaded a new request is sent to the API. As far as I understand using no API key limits the number of calls/responses you can receive in a given time. So if you are panning back and forth between the screen this may explain why.  Try it with an API key

[2016-05-16 20:12] sfitzjava commented on #165
I'm running into this on KitKat 4.4 and am seeing several other posts related, but no work around or patches mentioned.   Any ideas how to address this?
My ionic info is:
Cordova CLI: 6.1.1
Ionic Framework Version: 2.0.0-beta.6
Ionic CLI Version: 2.0.0-beta.25
Ionic App Lib Version: 2.0.0-beta.15
ios-deploy version: 1.8.5
ios-sim version: 5.0.8
OS: Mac OS X El Capitan
Node Version: v5.10.1
Xcode v

[2016-05-16 21:42] jgw96 commented on #165
Hello everyone! I am currently looking into this again. @sfitzjava So a blank ionic 2 template works fine for you, but as soon as you use the number pipe it breaks?

[2016-05-16 22:04] sfitzjava commented on #165
@jgw96 yes when I run on an android device running kitkat 4.4
On 5.1 android device I do not have an issue with pipes.

[2016-05-17 12:01] gigocabrera commented on #150
@brandyscarney I pulled latest on a different PC and I was not able to reproduce it there. I will not create a new issue for now until I'm able to consistently reproduce it with exact steps.

@pjhartin I wasn't aware you needed an API Key for the maps (sorry still a noob). Maybe @brandyscarney  can confirm if this may have something to do with it

[2016-05-17 14:30] sfitzjava commented on #165
@jgw96  Added note, writing my own pipe works without any issues on the android kitkat 4.4 device.

[2016-05-17 14:51] jgw96 commented on #165
@sfitzjava would you mind trying on Android 4.4 with full crosswalk, not just crosswalk lite? Thanks!

[2016-05-17 20:47] sfitzjava commented on #165
@jgw96  Had an issue with first try at full crosswalk, but when I increase min-sdk version to API 19 it would build and load.  Unfortunately it did not fix the error.  Still same exception on the pipes.
I reran without crosswalk and again with lite version again and all fail with android 4.4

Here is the console log exception from the base template (ie. no crosswalk of any type)

Unhandled Promise

[2016-05-18 15:51] DanailMinchev opened #195 "UNMET PEER DEPENDENCY"
#### Short description of the problem:

When I try to install the app `npm install` I receive following errors:
[code]

**Steps to reproduce:**
1. `git clone https://github.com/driftyco/ionic-conference-app`
2. `cd ionic-conference-app`
3. `git checkout typescript`
4. `npm install`

(the `master` branch does not work, too)

**Other information:** (logs)

[code]
**Which branch are you on?** master

[2016-05-18 16:09] DanailMinchev commented on #195
I tried the latest Node.js and npm, still does not work.

[code]

[2016-05-18 16:22] DanailMinchev commented on #195
I fixed it by adding those dependencies in `package.json` (not sure if this is the right approach - let me know and close the issue if it is - thanks):
[code]

[2016-05-18 16:36] brandyscarney commented on #195
So those dependencies _shouldn't_ be required for the current version of the typescript branch, but if installing them fixed your errors then it is fine. We will be adding them back with the next release (which we plan on doing today if all goes well) so it won't hurt to have them there. :smile:

[2016-05-19 17:36] DanailMinchev commented on #195
@brandyscarney

I just checked the updated project and now I have `UNMET PEER DEPENDENCY rxjs@5.0.0-beta.7` error:
[code]

If I change `rxjs` dependency version from `"rxjs": "^5.0.0-beta.6"` to "rxjs": "5.0.0-beta.6" then `npm install` runs without errors.

I can see that https://github.com/driftyco/ionic/blob/2.0/package.json also uses `5.0.0-beta.6`

I can create pull request to fix this?

[2016-05-19 17:44] DanailMinchev commented on #195
If it's not reproducible try to run `npm cache clean`

[2016-05-19 18:10] brandyscarney commented on #195
@DanailMinchev Thanks! I actually went ahead and removed all of the karets so this won't be a problem in the future: https://github.com/driftyco/ionic-conference-app/commit/89b6dcf91bbe4a9bb665c89b970a06b07ccfddd7

When I made the change to the master branch I already did this but I guess I forgot to do it on the TS branch: https://github.com/driftyco/ionic-conference-app/commit/3d1183dd1bfa80488f

[2016-05-19 18:21] DanailMinchev commented on #195
@brandyscarney it works fine now, thanks!

Offtopic: should I create same issue / pull request in `ionic2-app-base` project?

[2016-05-19 18:21] #195 closed

[2016-05-19 18:26] brandyscarney commented on #195
@DanailMinchev Ahh yes, if you'd like to create an issue or PR there that would be great! Thank you!

[2016-05-19 19:28] DanailMinchev commented on #195
@brandyscarney I have created:

https://github.com/driftyco/ionic2-app-base/issues/34

https://github.com/driftyco/ionic2-app-base/pull/32
https://github.com/driftyco/ionic2-app-base/pull/33

Cheers

[2016-05-21 08:31] warner-pinz commented on #142
@adamdbradley @brandyscarney the tutorial link is dead
https://github.com/driftyco/ionic/blob/2.0/ionic/components/nav/test/routing/index.ts#L47

Please share some working examples. Thanks

[2016-05-21 14:37] brandyscarney commented on #142
The Angular router is disabled with the latest release (beta 7). From the changelog:

[2016-05-21 16:55] brandyscarney commented on #142
@warner-pinz I updated Adam's comment to point to the correct link. We recently ([#6491](https://github.com/driftyco/ionic/issues/6491)) renamed the `ionic` repo to `src` so if you see any links using `ionic` they need to be changed to `src`. :smile: We'll update these as it is brought to our attention.

Here is the correct link to the Router example, keep in mind this does not work with `beta 7`

[2016-05-22 11:23] marcus-robinson opened #196 "Vertical Letterboxing on iPhone 6s"
#### Short description of the problem:
Black bars appear top and bottom when viewing the app on iPhone 6s

#### What behavior are you expecting?
The app should display full screen.

**Steps to reproduce:**
1. Download the conference app, npm install and then ionic serve
2. Copy the config.xml file into the www directory, then zip the directory and deploy to phonegap build. (Note, a small config.xm

[2016-05-22 17:22] manuelarcila opened #197 "Maximum call stack size exceeded"
What I did :

$ ionic start myapp conference --v2
$ cd myapp
$ ionic serve

Here is the error I got in the console :

`RangeError: Maximum call stack size exceeded
    at String.match (native)
    at Object.exports.fromSource (C:\Users\Admin\Desktop\Nuevacarpeta(5)\myapp\ionic-conference-app\node_modules\convert-source-map\index.js:122:19)
    at DestroyableTransform.sourceMapInit [as _transform]

[2016-05-23 19:34] brandyscarney commented on #197
This issue was moved to driftyco/ionic-cli#1020

[2016-05-23 19:34] #197 closed

[2016-05-23 19:36] brandyscarney commented on #196
@marcus-robinson Does this only happen when you modify the config file or does it happen before, as well? Also, can you only reproduce it on an iphone 6s or can it be done on a simulator?

[2016-05-24 06:04] MarkXBD opened #198 "Scrollbar appearing on menu toggle"
#### Short description of the problem:

When toggling the menu button, a scrollbar appears on the active `<ion-content>` element. (Even when there is not enough content to scroll)

**Steps to reproduce:**
1. Start up the conference app.
2. Go to the Map tab. Note there is no scrollbar visible.
3. Click the hamburger menu icon to open the menu.
4. Close the menu.
5. Note how there is now a scrollba

[2016-05-25 21:53] brandyscarney commented on #198
Are you seeing this in the browser or only on a device/emulator?

[2016-05-25 22:11] marcus-robinson commented on #196
@brandyscarney I'm on Windows, so the only way I've ever been able to test on iPhone is to deploy to PhoneGap and run a build and then install the resulting IPA file (can't run the iPhone simulator on Windows).

The change made to the config file is just the replacement of the Cordova (cdv) namespace with the PhoneGap nampespace (gap) so I don't think this would be the issue.

I am able to replica

[2016-05-25 22:49] MarkXBD commented on #198
Both on the Chrome browser and on my device (oneplus one, android 6.0.1)

[2016-05-28 07:25] marcus-robinson commented on #196
@brandyscarney it looks like this issue is caused by Ionic framework not including the correct splash screen image sizes. See stackoverflow post:
http://stackoverflow.com/questions/32312906/ios9-app-has-black-bars-on-top-and-bottom

I'll see if I can work out a solution and then post to the Ionic issues register.

[2016-05-28 07:25] #196 closed

[2016-05-28 07:51] marcus-robinson commented on #196
I've posted instructions here on how to properly use PhoneGap Build with the latest Ionic so as to avoid this issue: https://forum.ionicframework.com/t/building-ionic-2-beta-7-apps-with-phonegap-build/53253

[2016-05-28 10:03] NexusInk commented on #189
Currently creating a starter based on this theme so I come across this "issue"...
*Aks myself* Am I dim for building out a larger data set for this demo?
*Answer to ditto* No -of course not...

Be that as it may, I will have posted a the starter theme by Sunday 29th of May on the Ionic Market, embellished with bells and whistles and coffee-making capabilities for the awesome price of almost expens

[2016-06-02 05:54] aslamj opened #199 "Nothing is being rendered in chrome after getting a fresh clone of sources."
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:
Blank screen in chrome browser

#### What behavior are you expecting?
The App running in chrome browser.

**Steps to reproduce:**
1. Clone the repo (master in my case).
2. npm install, ionic build, ionic serve -c -s
3. Ch

[2016-06-03 03:28] lhwsa2010 opened #200 "The code set enablemenu does not work correct when app init"
**Note: for support questions, please use one of these channels:**

#### Short description of the problem:
Code:
this.userData.hasLoggedIn().then((hasLoggedIn) => {
hasloggedIn='true';// set hasloggedIn value
this.enableMenu(hasLoggedIn === 'true');
});

 set set hasloggedIn is 'true' or 'false',the menu does not work correct,

#### What behavior are you expecting?

when i set hasloggedIn='true',t

[2016-06-03 16:11] pedroseac commented on #165
Having the exact same issue on Android 4.4

[2016-06-03 19:44] brandyscarney commented on #200
Thanks for the issue! I'm going to close this as it doesn't seem like it's an issue with the conference app itself. Please visit our [forum](https://forum.ionicframework.com/) or [slack channel](http://ionicworldwide.herokuapp.com/) for questions about the framework. :smile:

[2016-06-06 22:24] rapropos opened #201 "Potential refactoring of data provider service"
#### Short description of the problem:

As the conference app is an important resource for newcomers to the ionic ecosystem, I see vestiges of its code in much application code posted to the support forums. To the untrained eye, it looks like it was attempted to bolt the Angular2 use of Observables onto the Angular1 use of Promises, especially as pertaining to the Http client. Perhaps partially as

[2016-06-07 16:48] aarjithn commented on #191
Sorry, but what is the reason to remove es6 branch and make ts master?

[2016-06-09 15:47] adamdbradley commented on #201
Absolutely, I'm glad it's been pointed out. The first go at the conference app's data service was more about just getting a working app so we could test visual design and performance, and wasn't so much focused on the data itself (and yes I'll admit it was entirely me that whipped the service together without putting too much thought into it).

Now's a great time to reevaluate everything about how

[2016-06-09 21:15] brandyscarney commented on #199
Please run through the following steps:

1. Pull the latest code from the conference app
2. Remove node modules in the project folder: `rm -rf node_modules/`
3. Run `npm install`

There was an issue with `ionic-native` but it should be good now. Thanks!

[2016-06-09 21:15] #199 closed

[2016-06-10 01:34] rockertux commented on #165
It's an issue with Angular, not Ionic. Check it here: angular/angular#8188

[2016-06-12 22:51] kodeine opened #202 "ionicBootstrap pass providers"
Hello,
Very nice app to learn ionic :+1:
I wanted to use jwt-auth for angular but i am unable to set providers.

[code]

Since we use `@Component` instead of `@App`, how would be pass providers to  `ionicBootstrap`?

[code]

[2016-06-13 10:01] NexusInk commented on #202
You have to use `import` for the `modules` you wish to call:
`import {Http} from '@angular/http'
as well as
`import {Provider} from @angular/core`

Since JWT is an extension on Angular2, you'll need to install as a dependency and call it. You code should look something like this:
[code]

[See this article on the Ionic Blog](http://blog.ionic.io/ionic-2-and-auth0/)

Hope this helps.

[2016-06-13 23:02] bertho-zero commented on #70
I have installed autoprefixer instead of autoprefixer-loader..

[2016-06-14 04:54] itrethan opened #203 "Upgrade typings to 1.0"
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:
The typings.json is still using old syntax, please upgrade.

#### What behavior are you expecting?
New typings.json syntax.

**Which branch are you on?** master or typescript
typescript

[2016-06-15 20:02] #154 closed

[2016-06-15 22:22] #54 closed

[2016-06-15 23:41] ZiFFeL1992 opened #204 "[Enhancement] Display tutorial only on first app use"
#### What behavior are you expecting?

Display the start tutorial just the first time an user uses the app.

[2016-06-16 03:39] gigocabrera commented on #154
@brandyscarney maybe there is still an issue with the menu?
Take a look at this video taken on an iPhone 6 with iOS 9.3.2 (played in slow motion). The Settings page is already opened in the example below. When I tap on the Settings menu item again, it closes the existing Settings page but it also creates a new Settings page that is loaded on top. Not sure if this is a bug but It just feels weird.

[2016-06-20 00:28] #202 closed

[2016-06-20 00:29] kodeine commented on #179
+1 for fb native login.

[2016-06-21 10:40] ashishtilara commented on #204
I've been following this thread https://forum.ionicframework.com/t/conditional-rootpage/44613

And I tried to add following in `app.ts`
[code]

and following in tutorial.ts

[code]

but it still loads tutorial page, before moving to tabs page 😢

[2016-06-21 10:52] ZiFFeL1992 commented on #204
Is LocalStorage faster than SqlStorage? I mean I manage to get it work with SqlStorage but that introduces some delays while opening the app...

[2016-06-21 11:03] ashishtilara commented on #204
not sure, I just used localStorage because user-data provider uses it as well.

[2016-06-25 15:23] matheo commented on #203
Refs https://github.com/driftyco/ionic2-app-base/pull/38

[2016-06-29 00:59] ghenry22 commented on #191
I agree as both es6 and ts are supposed to be fully supported options and first class citizens here should they either:
1) each be kept in a seperate branch
2) each by kept in a seperate repository

One thing I have found perpetually frustrating with ionic2 is searching for how to do something or how to resolve something and then having to work out if people are doing things in ts or es6 and then

[2016-07-05 15:12] ZiFFeL1992 commented on #204
Any advice on this?

[2016-07-08 00:11] davorpeic commented on #179
+1

[2016-07-08 01:08] brandyscarney commented on #191
We've added a document with the reasoning behind this change here: http://ionicframework.com/docs/v2/resources/typescript/

Ionic will still work with ES6, but we are going all in on TypeScript. All starters are now using TypeScript by default and our examples will continue to be in TypeScript. We think this will also clear up the confusion between the ES6 and TS starters.

[2016-07-08 01:08] #191 closed

[2016-07-08 01:09] brandyscarney commented on #198
Unfortunately I haven't been able to reproduce this. Are you still able to with the latest version?

[2016-07-08 01:34] MarkXBD commented on #198
I just tested and still have the same issue with the latest version of the conference app and Chrome (51.0.2704)

[2016-07-11 22:01] dennisgermany opened #211 "List-View hangs (no scrolling)"
Hi,

I'm experiencing the following issue when running the conference app on my iPhone 6s with iOS 9.3.2. Maybe someone can help me out with this...

Steps:
1.) Open App (Schedule-View is open)
2.) Scroll up and down
3.) Open Speakers-View
4.) Scroll up and down
5.) Open Schedule-View
6.) Scrolling up and down does NOT work anymore

Setup:

Your system information:

Cordova CLI: 5.4.1
Gulp version

[2016-07-12 00:06] paulsson opened #212 "Map doesn't display after changing root page"
#### Short description of the problem:

When the initial tabs page displays you can navigate around to all the tabs fine, including the "Map" tab and the map will display fine.  BUT if you click the menu and navigate to the "Login" or "Signup" page (any page that changes the NavController root page) and then navigate back to the Tabs page and visit the Map page the google map won't load.
#### What

[2016-07-12 13:53] hjnilsson opened #213 "Clicking the date on About screen shows a date picker on iOS"
I assume this is not intended, you can also change the value presented.

[2016-07-12 14:39] brandyscarney commented on #213
Yes this is intentional. The conference isn't real, we're just trying to show off as many Ionic 2 components as we can. :)

[2016-07-12 14:39] #213 closed

[2016-07-13 12:44] refaelgold commented on #179
+1

[2016-07-14 17:45] joshreisner commented on #212
+1

This a great resource. I'm looking forward to seeing how it's fixed, because I'm having the same issue as well.

[2016-07-14 22:10] dennisgermany commented on #211
I'm also having this problem running in the iOS Emulator/Simulator. Doesn't anyone else have this problem? I can't use any list views in combination with the tab nav bar :(

[2016-07-15 01:57] waelkdouh opened #214 "I get a splash screen followed by an empty screen."
The app never loads any tabs. Running on an Android Nexus 6p device.

[2016-07-15 02:40] paulsson commented on #212
There is a topic in the Ionic forum about this problem as well without any solution provided.  I've posted there as well to try to get visibility on this issue.
https://forum.ionicframework.com/t/blank-google-maps-after-navigation/51104

[2016-07-15 03:32] brandyscarney commented on #212
Thanks for the issue! We'll look into this soon. In the meantime, please continue to post any more details you find. Thanks! :smile:

[2016-07-15 13:00] #211 closed

[2016-07-19 17:45] harpreet2602 commented on #179
any news with fb login ?

[2016-07-19 17:53] davorpeic commented on #179
Well, I just implemented FB login using this plugin https://github.com/nraboy/ng2-cordova-oauth, maybe I can copy my logic as PR to Conference app, but not sure if Drifty wants to enforce using some specific method (as they are many) to give an example of this.

I'll also maybe switch to other plugin to give option to do FB login using native app (if exist).
Maybe it would be best that DriftyCo gi

[2016-07-19 18:55] matheo commented on #179
Agreed,
given the different ways to implement this according the needs, it's not good to include an approach here. There are blogs out there using the `ionic-native` plugin (http://ionicframework.com/docs/v2/native/facebook/) or using some OAuth implementation.

For a project on mine, I have a Django backend registering the user with its social authentication (I used the native plugin here) and I

[2016-07-20 06:50] itrethan opened #215 "Remove typings and use @types instead"
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:
typings is annoying, use @types instead, it's awesome.

#### What behavior are you expecting?
remove typings, compliant with npm

[2016-07-20 09:34] shuimuqinghua opened #216 "How to Change Gradle Version?"
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:
i can't change the gradle version to 2.10-all

#### What behavior are you expecting?
i hope you can tell me, how to change it.

[2016-07-20 15:31] matheo commented on #215
@types doesn't have repositories, is this serious?

[2016-07-22 04:21] thangam105 opened #217 "Error: Cannot find module compilation error when use the custom components"
Error: Cannot find module 'custom/buttoncComponent' from 'D:\Angular2\Temp\Example Project\app\pages\home'.

**Steps to reproduce:**
1. I have installed the Jquery and local customComponent.d.ts file by typings.  typings install dt~jquery --global --save and  typings install file:./customComponent.d.ts  --global --save.
2.  I have used the customModule in ionic pages on that time i am not get erro

[2016-07-22 08:30] yipjunjie commented on #214
I get a splash screen followed by an empty screen. What can I to do?

[2016-07-28 03:43] wonk4rol opened #218 "Different Alert View between web and mobile version"
#### Short description of the problem:
Different view alert in between Web and mobile version

#### What behavior are you expecting?
Must same output

#### This my code
[code]

**Other information:** (e.g. stacktraces, related issues, suggestions how to fix, stackoverflow links, forum links, etc)
i have posted in

**Run `ionic info` from terminal/cmd prompt:** (paste output below)
Your system info

[2016-07-29 16:59] tamerbak commented on #165
In my case it was toLocaleDateString() javascript function, that causes this problem, I changed it and it was resolved.
You have to debug your code via livereload mode and locate the source of problem.
I did not find any explication about why it doesn't work on 4.4.4...

[2016-07-29 17:11] jgw96 commented on #165
Hello all! Because the built in Angular 2 pipes use the internationalization api they will not work on older versions of Android. To solve this issue you can build the app with crosswalk which will give you a modern, up to date version of the chrome webview that does support the intl api. If you are running Android 5.0 and higher it will work out of the box without crosswalk. SInce this is not an

[2016-07-29 17:11] #165 closed

[2016-07-29 17:16] jgw96 commented on #218
Hello! Since it looks like this issue was already resolved in the forums I will be closing this issue. Thanks for using Ionic!

[2016-07-29 17:16] #218 closed

[2016-07-29 17:17] jgw96 commented on #216
Hello! Thanks for opening an issue with us! As this seems like more of a support question i will urge that you ask this question on our forum (forum.ionicframework.com). Thanks for using Ionic!

[2016-07-29 17:17] #216 closed

[2016-07-29 17:19] jgw96 commented on #215
Hello! Thanks for opening an issue with us! As this seems like more of a suggestion for our build process I would urge that you open an issue about this in the [ionic cli](https://github.com/driftyco/ionic-cli) repo. Thanks for using Ionic!

[2016-07-29 17:19] #215 closed

[2016-07-29 17:20] jgw96 commented on #203
Hello! We are now using typings 1.0. Thanks for using Ionic!

[2016-07-29 17:20] #203 closed

[2016-07-29 17:20] matheo commented on #215
Its not clear and there's no website to check what's @types about :-?

[2016-07-29 17:22] jgw96 commented on #217
Hello! Thanks for opening an issue with us! As this seems like more of a support question i will urge that you ask this question on our forum (forum.ionicframework.com). Thanks for using Ionic!

[2016-07-29 17:22] #217 closed

[2016-07-29 17:47] jgw96 commented on #214
Hello, thanks for opening an issue with us! Have you ran npm install before trying to run the app? Also, do you get any issues in the console when trying to run the app?

[2016-07-29 18:04] jgw96 commented on #183
Hello, thanks for opening an issue with us! I will be closing this app as a duplicate of https://github.com/driftyco/ionic/issues/5331.

[2016-07-29 18:04] #183 closed

[2016-07-29 18:21] itrethan commented on #215
@matheo Here is the repo https://www.npmjs.com/~types

[2016-07-29 21:31] matheo commented on #215
Any info about `cli` utils? how to use them?
What's the advantage of migrate @typings to @types?

[2016-08-05 09:09] kingkarki opened #220 "Laggy performance on app"
It works fine on browser and ios simulator but not good in real ios devices. I tested with iphone 4s. There is long click dealy and scroll delay. This is the same issue from ionic 1.

[2016-08-06 09:06] SoaringTiger opened #222 "LoginPage & SignupPage Error with beta11"
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:
When click menu->login , error shows:
EXCEPTION: Error: Uncaught (in promise): Template parse errors:

#### What behavior are you expecting?

**Steps to reproduce:**
1. Download ionic-conference-app source code
2. npm ins

[2016-08-07 19:51] linvi commented on #222
Have you been able to fix this?

[2016-08-07 20:28] bushev opened #223 "Unable to click "Skip" on the tutorial page on Android 4.4.4"
#### Short description of the problem:

Unable to click "Skip" on the tutorial page - session filter appeared.
#### What behavior are you expecting?

Tutorial will be closed

**Steps to reproduce:**
1. Use Android 4.4.4 (Samsung Galaxy S5) on Genymotion
2. Deploy application
3. Try click to "Skip"

**Run `ionic info` from terminal/cmd prompt:**
Cordova CLI: 6.2.0
Gulp version:  CLI version 3.9.0
G

[2016-08-08 05:56] JoeKool commented on #222
Issues due to angular RC3 to RC4

This worked for me:
http://stackoverflow.com/a/38648703

[2016-08-08 09:18] wberger opened #225 "window.open not working on iOS"
#### Short description of the problem:
When clicking on the "Tweet" button in the speakers list on iOS, nothing happens. `window.open` in `goToSpeakerTwitter` in `speaker-list.ts` does nothing.

#### What behavior are you expecting?
The page opens in an external browser.

**Steps to reproduce:**
1. Open the "Speakers" page.
2. Click on "Tweet" of speaker "Burt Bear"

[code]

**Run `ionic info` fro

[2016-08-08 14:31] brandyscarney commented on #222
Fixed by https://github.com/driftyco/ionic-conference-app/pull/224. Thanks!

[2016-08-08 14:31] #222 closed

[2016-08-08 15:03] ddellamico commented on #212
I think it's  necessary to add map resize trigger :

`google.maps.event.trigger(this.map, 'resize');`

It must be called every time you enter in that page.
Please, take a look here :

https://github.com/ddellamico/ionic-conference-app/blob/master/app/pages/map/map.ts

[2016-08-08 15:28] ddellamico commented on #201
I have just created a version of ICA with JWT authentication and a greater use of RxJs.
You can check the code on GitHub:

https://github.com/ddellamico/ionic-conference-app

Let me know your thoughts.

[2016-08-09 09:12] wberger commented on #200
This is still an issue within the app. Has this been posted (and answered) somewhere in the forum?
Why does
[code]
not work for loggedIn === true, when the app is starting?

Moving the call to `platform.ready()` or `ngAfterViewInit()`didn't help as well.

[2016-08-09 09:50] wberger commented on #200
@brandyscarney After further code inspection, I would say this is an issue with the conference app.

In [tutorial.ts](https://github.com/driftyco/ionic-conference-app/blob/master/app/pages/tutorial/tutorial.ts) the implementations of `ionViewDidEnter` and `ionViewWillLeave` disable and enable the menu respectively. This interferes with the login-based calls in app.ts. ionViewWillLeave should also

[2016-08-09 14:57] brandyscarney commented on #200
@wberger Sorry but I don't understand what the issue is. Could you explain the steps I could take to reproduce this, as well as what you expect?

[2016-08-09 16:56] jgw96 opened #226 "Beta-11: Menu white background overlay and not show menu list"
_From @nhohb07 on August 9, 2016 16:53_

![image](https://cloud.githubusercontent.com/assets/5916323/17525188/d82e3402-5e8b-11e6-8e73-e41f62f118dc.png)

Hi everyone! I try to build on ios app conference, the white menu error and no one menu item displayed. And my application is built from beta-9 was similar error, please review this issue to help me in the most recent version can build, I need thi

[2016-08-09 17:16] brandyscarney commented on #226
I'm not able to reproduce this using the latest version of the conference app. Are there any steps I need to take to reproduce this? See http://g.recordit.co/yz8s9FZ4He.gif

[2016-08-09 17:20] alexbainbridge commented on #226
Hi Brandy
I have seen this in a non conference app (but has a side menu) - let me see if I work out how I did it (its something to do with moving quickly I think, as only happens a occassionally)

Reason I hadn't raised it (yet) is because I was keeping an eye on https://github.com/driftyco/ionic/issues/7564 and wondering if that was the same issue

[2016-08-09 17:58] alexbainbridge commented on #226
Hi Brandy

OK I got this to work (fail)

1) Mac / Google Chrome (Desktop)

Cordova CLI: 5.4.1
Ionic Framework Version: 2.0.0-beta.11
Ionic CLI Version: 2.0.0-beta.36
Ionic App Lib Version: 2.0.0-beta.19
ios-deploy version: 1.8.5
ios-sim version: 5.0.4
OS: Mac OS X El Capitan
Node Version: v5.3.0
Xcode version: Xcode 7.3.1 Build version 7D1014

2) Latest version of the conference app

3) Add mode I

[2016-08-09 17:58] alexbainbridge commented on #226
I should add, I couldnt get the conference app to fail when I didn't add ios as the mode.....

[2016-08-09 18:20] brandyscarney commented on #226
hey @alexbainbridge, thanks for the steps! I've tried following them but I'm still not able to reproduce it. I added `ios` mode to the bootstrap and tried reproducing it in both chrome and a simulator. I'm not sure what you mean by "click on menu icon (on a subpage)" since the menu icon doesn't show up on the subpages. Are you adding it in? I tried clicking on the menu icon over and over and also

[2016-08-09 18:28] jgw96 commented on #226
I would like to add that i tested this issue with an iphone 5 running ios 10 and an Iphone 6s simulator running 9.3.2 and i am also not able to reproduce this issue.

[2016-08-09 18:30] alexbainbridge commented on #226
Hi Brandy

Hummm

Re steps - I said menu item (e.g speakers) then when you are on speakers page, click menu (hamburger) icon

And do that over and over, clicking one so the other shows.

If I can get it to happen (blank side menu), are there any events or anything I could be logging that would be helping you?

[2016-08-09 18:36] alexbainbridge commented on #226
Here is a gif of it happening

![](http://g.recordit.co/g8DHkcBBD7.gif)

[2016-08-09 18:39] brandyscarney commented on #226
Thanks for the gif! I was able to reproduce it in Safari, but not Chrome. :)

[2016-08-09 18:40] alexbainbridge commented on #226
Ha, I just tried Safari and got it to fail also.... that was going to be my next update!

[2016-08-09 18:44] brandyscarney commented on #226
The cause is the `ion-menu` not getting the class `show-menu` added to it, _why_ this isn't being added is still to be discovered. I'll move this to the ionic repo. Thanks for the help!

[2016-08-09 18:53] alexbainbridge commented on #226
New in 11, if that helps narrow it down a bit.... (and updated Angular of course)

[2016-08-09 18:54] brandyscarney commented on #226
Thanks! I'm going to close this issue in favor of this one: https://github.com/driftyco/ionic/issues/7629

[2016-08-09 18:54] #226 closed

[2016-08-09 20:27] alfabetagama commented on #212
Nice save ddellamico.

[2016-08-09 22:46] Stono opened #227 "Doesn't start!"
#### Short description of the problem:
Fresh clone of the app and I can't seem to get it to work.  Chrome opens and I see the three windows but they're just white and there is an error in the console

#### What behavior are you expecting?
It to work.

**Steps to reproduce:**
1.  git clone
2.  npm install
3.  ionic serve --lab

Gets the following console errors and the app is just white:
[code]

**

[2016-08-09 23:07] ryantse commented on #227
I believe this is definitely related to the release of angular 2.0.0-rc.5 which occurred today. The application hasn't been updated to support the changes made in rc.5 which is causing the error.

[2016-08-09 23:18] Stono commented on #227
Yeah; I was thinking the same after some googling... I'll try locking the dependencies and reporting back...

[2016-08-09 23:23] Stono commented on #227
Sorted it, stuck in a pull request to lock it for the time being as I don't have the skills to fix this yet (just embarked on learning angular.js today :-))

[2016-08-10 03:27] lhwsa2010 commented on #200
@wberger @brandyscarney  I have solved it. It is due to the app itself and the developer was certainly in thinking what to eat for lunch. ^_^
Because when view enter in tutorial the menu have been set disabled.No matter true or false you set,it never trigger the event change,so you never get the result what you want.Just delete the menu enable set code it will do fine.
ps: I think the app's logic

[2016-08-10 03:30] #200 closed

[2016-08-11 15:11] #227 closed

[2016-08-11 15:42] #225 closed

[2016-08-11 15:42] brandyscarney commented on #225
Added the InAppBrowser plugin which now opens the link externally in iOS. Please let me know if this still isn't working for you with the latest code, thanks!

[2016-08-11 16:59] davorpeic opened #229 "No value accessor for in the forms with Beta 11"
In case you updated to Ionic 2 beta 11 following changelog update, that updates angular/forms to 0.3.0 that breaks conference app forms (Login) with message "No value accessor for", so open your packages.js and lower angular/forms to 0.2.0 and run `npm install`, that fixes this error.

davor

[2016-08-11 19:17] brandyscarney commented on #229
Thanks! The conference app is already upgraded to beta 11 though, and it has been locked in with version 0.2.0 of forms. :)

[2016-08-11 19:17] #229 closed

[2016-08-16 11:19] okonon opened #231 "No hooks directory error on fresh clone"
#### Short description of the problem:
Getting
[code]

#### What behavior are you expecting?
No error

**Steps to reproduce:**
1. Clone fresh app
2. run `ionic platform add ios --save`
3. observe error

**Run `ionic info` :
[code]

[2016-08-16 23:35] phodal commented on #223
I have a similar issue with "SKIP" on the tutorial page. Sometimes, I click "SKIP" but not thing happen - keep in tutorial page, sometimes it can skip.

Devices: Android 5.1 (Meizu MX5)

Does it need more time to load tabs page?

[2016-08-17 07:15] goldenbearkin opened #232 "Is it possible to get the 'select' sit next to the 'input'?"
I think below is the intuitive way to enter phone number
<img width="308" alt="screen shot 2016-08-17 at 2 48 15 pm" src="https://cloud.githubusercontent.com/assets/11225712/17727157/09fa156a-648a-11e6-896e-c35af939f249.png">

instead of making it two separate line.
<img width="414" alt="screen shot 2016-08-17 at 3 14 33 pm" src="https://cloud.githubusercontent.com/assets/11225712/17727644/6c23e58

[2016-08-18 07:46] AntonKL commented on #214
+1 on my iPhone 6+. Same issue. Works in browser with ionic serve but not in iPhone with xcode build.

[2016-08-19 08:57] lwz7512 opened #233 "cannot find module 'clone'"
after I enter : ionic serve

report error:

Uh oh! Looks like you're missing a module in your gulpfile:
Cannot find module 'clone'

why?

[2016-08-19 14:57] brandyscarney commented on #233
Could you run `ionic info` please from within your project folder and paste that info here? Thanks!

[2016-08-20 03:48] lwz7512 commented on #233
Your system information:

Cordova CLI: 6.2.0
Gulp version:  CLI version 3.9.0
Gulp local:   Local version 3.9.1
Ionic Framework Version: 2.0.0-beta.11
Ionic CLI Version: 2.0.0-beta.30
Ionic App Lib Version: 2.0.0-beta.16
ios-deploy version: 1.8.6
ios-sim version: 5.0.8
OS: Mac OS X El Capitan
Node Version: v4.4.0
Xcode version: Xcode 7.3 Build version 7D175

[2016-08-20 03:53] lwz7512 commented on #233
I cloned the ionic-conference-app repository, and npm install, then run : ionic serve
but report that error...

[2016-08-20 03:54] brandyscarney commented on #233
Hmm could you try installing v2.0 of the CLI:

[code]

Running `ionic -v` should give you:
[code]

[2016-08-20 04:05] lwz7512 commented on #233
reinstalled the cli, but the error remaining...
[code]

[2016-08-22 17:03] jgw96 commented on #233
@lwz7512 Hello! Would you mind updating to node 5 or node 6? Most likely this issue comes from you using npm 2. Thanks!

[2016-08-24 06:26] peterarends commented on #212
Well done @ddellamico! For people that are searching for it like me, this also fixes the map not working in Safari (osX and on iOS 9.3. That one needs a resize too.

[2016-08-25 03:50] lwz7512 commented on #233
@jgw96 yes! you solved my problem! it works....

first, i reinstall npm to version 3.10.6;
then, rerun npm install to refresh the dependency tree;
last , ionic serve

done! thank you very much!

[2016-08-25 03:50] #233 closed

[2016-08-25 21:16] jgw96 commented on #233
No problem @lwz7512 ! Glad i could help!

[2016-08-28 20:49] Ionitron commented on #214
Greetings @waelkdouh!

My sensors indicate a reply was requested, but as we have not received one yet, I am using my robot powers to close this issue. However, if you are still experiencing this issue, please feel free to reopen it by creating a new issue, and include any examples or necessary information.

Thank you for allowing me to assist you.

[2016-08-28 20:53] Ionitron commented on #214
Greetings @waelkdouh!

My sensors indicate a reply was requested, but as we have not received one yet, I am using my robot powers to close this issue. However, if you are still experiencing this issue, please feel free to reopen it by creating a new issue, and include any examples or necessary information.

Thank you for allowing me to assist you.

[2016-08-28 20:57] Ionitron commented on #214
Greetings @waelkdouh!

My sensors indicate a reply was requested, but as we have not received one yet, I am using my robot powers to close this issue. However, if you are still experiencing this issue, please feel free to reopen it by creating a new issue, and include any examples or necessary information.

Thank you for allowing me to assist you.

[2016-08-29 10:16] snpori commented on #140
Hey. i'm using Intellij Ultimate 2016.2.2 with the latest Phonegapp/Cordova plugin. the project is recognized as phongapp application (I can see this by the debug options) but the ion-* html directives are not recognizes.
Any suggestions?

[2016-08-29 11:21] Ionitron commented on #214
Greetings @waelkdouh!

My sensors indicate a reply was requested, but as we have not received one yet, I am using my robot powers to close this issue. However, if you are still experiencing this issue, please feel free to reopen it by creating a new issue, and include any examples or necessary information.

Thank you for allowing me to assist you.

[2016-08-29 11:24] Ionitron commented on #214
Greetings @waelkdouh!

My sensors indicate a reply was requested, but as we have not received one yet, I am using my robot powers to close this issue. However, if you are still experiencing this issue, please feel free to reopen it by creating a new issue, and include any examples or necessary information.

Thank you for allowing me to assist you.

[2016-08-29 11:26] fonziedave opened #237 "Android 4.4.2 and 4.4.4 Tabs blank, but working"
On Android 4.4.2 and 4.4.4 the bottom tabs are blank, but they are working. If one of the tabs is clicked, the label is visible and animated and vanishes afterwards.

Tested with two different devices (LG L70 and MiPad 1).

Cordova CLI: 6.3.1
Ionic Framework Version: 2.0.0-beta.11
Ionic CLI Version: 2.0.0-beta.37
Ionic App Lib Version: 2.0.0-beta.20
OS: Distributor ID:	LinuxMint Description:	Linux

[2016-08-29 11:28] Ionitron commented on #214
Greetings @waelkdouh!

My sensors indicate a reply was requested, but as we have not received one yet, I am using my robot powers to close this issue. However, if you are still experiencing this issue, please feel free to reopen it by creating a new issue, and include any examples or necessary information.

Thank you for allowing me to assist you.

[2016-08-29 12:09] AntonKL commented on #214
I must say that @Ionitron is going a little hard on this one, I think my inbox clearly has understood that this issue is closed, haha!

[2016-08-30 00:14] Ionitron commented on #214
Greetings @waelkdouh!

My sensors indicate a reply was requested, but as we have not received one yet, I am using my robot powers to close this issue. However, if you are still experiencing this issue, please feel free to reopen it by creating a new issue, and include any examples or necessary information.

Thank you for allowing me to assist you.

[2016-08-30 00:20] Ionitron commented on #214
Greetings @waelkdouh!

My sensors indicate a reply was requested, but as we have not received one yet, I am using my robot powers to close this issue. However, if you are still experiencing this issue, please feel free to reopen it by creating a new issue, and include any examples or necessary information.

Thank you for allowing me to assist you.

[2016-08-30 13:24] Jie-OY commented on #177
In the index.html has:
![image](https://cloud.githubusercontent.com/assets/10665384/18090499/9f44d250-6ef7-11e6-9660-5df3578896f9.png)
(Google Service)But there has GFW in China,so definitely you can't load it .
So,the solution is :use tools like Lantern to cross the GFW.

[2016-08-31 18:36] brandyscarney commented on #231
Could you try updating your CLI to version 2.x:

`npm install -g ionic`

Thanks!

[2016-08-31 20:12] okonon commented on #231
works after upgarade

[2016-08-31 20:12] #231 closed

[2016-08-31 20:28] brandyscarney commented on #214
Sorry about that @AntonKL. :smile: Do you have the same issue running the app in an iOS simulator or only when running the app on your device?

[2016-08-31 20:48] brandyscarney commented on #223
I was able to reproduce this using a Nexus 4 running `4.4.4` and a Nexus 5 running `5.1.0`. We're changing the structure of apps and making huge upgrades to the way templates are loaded so we're going to hold off on looking into this until those changes make it into master. Thanks!

[2016-09-01 10:13] napcat opened #238 "Unable to build the project"
#### Short description of the problem:
Unable to build the project.

#### What behavior are you expecting?
Install all the node modules and run ionic serve with success.

**Steps to reproduce:**
1 - Download Zip file from Github.

2 - Extract Zip to a dir

3 - Run npm install in dir extract location

4 - Run ionic serve

[code]

5 - Run another time npm install

[code]

**Ionic Info**
Cordova CLI:

[2016-09-01 16:28] brandyscarney commented on #238
Can you try updating the CLI to 2.0 to see if that fixes it?

[code]

[2016-09-01 17:54] napcat commented on #238
Hello,

I did an npm uninstall -g ionic and then a npm install -g ionic, and the problem still happens.

[2016-09-01 17:58] brandyscarney commented on #238
What is your npm version? `npm -v`

[2016-09-01 18:02] dericeira opened #239 "300ms delay on ion-item"
I have a big ion-list, with, ion-item(s) with a ng-click, href, etc inside a ion-content.
On the first tap to scroll up, the ion-item will get activated and background color will change. It happens if I have ion-option-button(s) too.

I've made this codepen: https://codepen.io/anon/pen/JRjbOR

So, how can I add the 300ms touch delay to ion-itens without turn it into a button?

[2016-09-01 18:05] dericeira commented on #239
Oops. Wrong place.

[2016-09-01 18:05] #239 closed

[2016-09-01 18:58] masimplo opened #240 "Add a virtualScroll example."
VirtualScroll is very important performance wise when you have lots of data. I would love to see a complete example of virtual scroll working with large lists and custom components.

[2016-09-01 19:08] ittasks opened #241 "won't serve, no such file \typings\index.d.ts"
[code]

downloaded zip (today)
runned npm install (got 2 warnings about deprecated stuff)
**trying ionic serve,**
getting this error:

[code]

[2016-09-01 19:16] ittasks commented on #238
same exact problem , other projects compile fine.
[code]

downloaded zip (today)
runned npm install (got 2 warnings about deprecated stuff)
**trying ionic serve,**
getting this error:

[code]

[2016-09-01 19:16] ittasks commented on #241
duplicate, closing

[2016-09-01 19:16] #241 closed

[2016-09-01 19:22] karelbecerra commented on #238
Same issue (cloned today)

Cordova CLI: 6.3.1
Gulp version:  CLI version 3.9.1
Gulp local:   Local version 3.9.1
Ionic Framework Version: 2.0.0-beta.11
Ionic CLI Version: 2.0.0-beta.37
Ionic App Lib Version: 2.0.0-beta.20
ios-deploy version: Not installed
ios-sim version: 5.0.8
OS: Mac OS X El Capitan
Node Version: v6.5.0
Xcode version: Xcode 7.3.1 Build version 7D1014

[2016-09-01 19:59] karelbecerra commented on #238
A simple workaround (copy/move main.d.ts file):

'cp typings/main.d.ts typings/index.d.ts'

[2016-09-01 21:20] bishoymelek commented on #238
I have the same issue and don't know how to fix it :( please help ! I can pay money to make it work!

[2016-09-01 22:18] karelbecerra commented on #238
bishoymelek you can move forward with the posted workaround (copy the file main.d.ts with the name index.d.ts) and it will work!

[2016-09-02 07:25] ittasks commented on #238
Thank you karelbecerra, your workaround works.

[2016-09-02 08:46] napcat commented on #238
Thank you @karelbecerra for the workaround. ;)

[2016-09-02 09:09] bishoymelek commented on #238
Thank you so much for your help!!

[2016-09-02 09:36] mmazloum commented on #238
@ittasks & @napcat also fixed running "typings install" command

But then I get many errors telling "Cannot find promise" :
TypeScript error: /Users/marwanmazloum/Desktop/Developpement/Sandbox/ionic-conference-app/node_modules/ionic-native/dist/plugins/sms.d.ts(40,89): Error TS2304: Cannot find name 'Promise'.
TypeScript error: /Users/marwanmazloum/Desktop/Developpement/Sandbox/ionic-conference-ap

[2016-09-02 10:38] napcat commented on #238
@mmazloum I forgot to mention, but I also trying to fix it running the:

`typings install`

I faced the same errors your are reporting.

[2016-09-05 17:08] #214 closed

[2016-09-07 17:23] brandyscarney commented on #238
This is now fixed by https://github.com/driftyco/ionic-conference-app/pull/242. Please let me know if you're still running into this issue. Thanks!

[2016-09-07 17:23] #238 closed

[2016-09-14 09:47] Bloggerschmidt commented on #204
or adding `this.rootPage = TabsPage;` in `app.ts`

    this.userData.hasLoggedIn().then((hasLoggedIn) => {
      this.enableMenu(hasLoggedIn === 'true');
      this.rootPage = TabsPage; // <-- here we go
    });

[2016-09-14 09:53] Bloggerschmidt commented on #204
or adding an if statement after calling to enableMenu (`app.ts` arround line 66)

    this.userData.hasLoggedIn().then((hasLoggedIn) => {
      this.enableMenu(hasLoggedIn === 'true');
      if (hasLoggedIn === 'true') {
        this.rootPage = TabsPage;
      }
    });

[2016-09-14 11:40] Bloggerschmidt commented on #204
you can do it by adding

    if (hasLoggedIn === 'true') {
      this.rootPage = TabsPage;
    }

to

    this.userData.hasLoggedIn().then((hasLoggedIn) => {
      this.enableMenu(hasLoggedIn === 'true');
      // <-- here we go
    });

in `app.ts` around line 66. Unfortunately the method to `enableMenu` only works at the first time. So you should add the same method to the page you're loading af

[2016-09-16 14:00] ameralhomsi opened #244 "When SearchBar focus (no text entered yet), not all items appear"
I face this problem in normal ionic tabs template also, when I put searchbar and focus it without typing any text, and try to scroll down, not all items appear, if i try to scroll down again (remove finger and swipe down again), the remaining items appear with tabs and header move up out of viewport.

i use iOS 9.3.5
Ionic 2.0.0-beta.11

Thanks

[2016-09-16 16:30] jgw96 commented on #237
Hello, thanks for opening an issue with us! This is actually caused by this bug https://github.com/driftyco/ionic/issues/7604 . Because of that I am going to mark this one as blocked. Thanks for using Ionic!

[2016-09-16 16:36] jgw96 commented on #198
@MarkXBD I just tested this with a Moto X running Android 5.1.1, a Nexus 7 running Android 6.0.1 and a Nexus 6 running Android 7.0 and I cannot seem to reproduce this issue. I also cannot repro this issue in Chrome 53 (the latest stable). Are you still seeing this issue?

[2016-09-16 16:38] jgw96 commented on #244
Hello, thanks for opening an issue with us. Unfortunately I cannot seem to reproduce this issue with either an iOS 9 emulator or an iPhone 5 running iOS 10. Are you still seeing this issue?

[2016-09-16 18:13] ameralhomsi commented on #244
1. The following picture when i scroll down most, as shown in this picture the last two items do not shown

![img_8359](https://cloud.githubusercontent.com/assets/18363520/18596365/733eacbe-7c51-11e6-87ca-51f7ba1363bd.PNG)

2. The next picture when i tried to scroll down again , as you can see the items go behind status bar

![img_8360](https://cloud.githubusercontent.com/assets/18363520/18596364/

[2016-09-16 19:49] gfviegas opened #246 "Profile page crashing when trying to change the name to an empty string"
Hey, if you go to Profile Page and change the name to an empty string the page will never show correctly again. I was looking for validation in a prompt just like in the ionic-conference-app so Im unlucky...

What's the solution to this?

[2016-09-18 12:05] manucorporat opened #247 "Unicode characters"
I would be useful if the ionic-conference-app features some chinese names and/or spanish ones as a way to verify UTF-8 encoding is working properly in the user agent.

These names/words should be included in the .html templates and in the json data for completeness.

https://github.com/driftyco/cordova-plugin-wkwebview-engine/issues/49

A spanish one could be: Toño García Yagüe (for example)

Addi

[2016-09-19 03:43] jgw96 commented on #237
Hello, I am happy to report that this issue has been fixed. When the conf app is updated to beta 12 I will close this issue. Thanks for using Ionic!

[2016-09-19 07:48] kingkarki commented on #142
@brandyscarney is routing on ionic 2 back yet? All the links above are dead.

[2016-09-19 17:36] ameralhomsi commented on #244
Is there is answer for this ?, on my phone has problems ?

[2016-09-21 02:53] aggarwalankush opened #248 "Ahead of Time compilation - should I make all class members public"
Hi All,

Can you please explain this commit [refactor(app): update to use public and same variables as starters](https://github.com/driftyco/ionic-conference-app/commit/79a69491041d911b5c625b5eeb7b97b42bff7dc5)

- Should I make all constructor parameters public? If yes, why platform and confData is not public in app.ts?
[code]
- Above commit also uses same variable name. Is it for AoT or just bett

[2016-09-21 18:22] GabrielHobold commented on #246
After updating the username to an empty string the page doesn't show correctly because there's a *ngIf="username" in the parent div that hides all the content if the username is not present.

Looking at the [documentation](http://ionicframework.com/docs/v2/api/components/alert/AlertController/) there's no way to validate the field, unless you use the handler function and do your validations on js.

[2016-09-22 03:52] frankpolkm opened #250 "Blank screen in iOS 10"
Hi, just tried in iOS 10, after splash got blank screen. It works in iOS 9.3

[2016-09-22 15:24] jashif commented on #237
Hi

I recently created a ionic2 application.  In my application I have ion-menu and ion-tab. Am getting a issue when ever ion -menu is there  the tab wont show. if I remove menu from the app and run then the tab will show properly. this issue is happening only in android version 4.4.2 .

[2016-09-22 15:39] jgw96 opened #251 "ionic conference app got blank screen in iOS 10"
_From @frankpolkm on September 22, 2016 3:54_

Hi, the ionic conference app doesn't work in iOS 10, blank after splash screen. 9.3 is OK.

_Copied from original issue: driftyco/ionic#8163_

[2016-09-22 15:39] jgw96 commented on #251
_From @rcjsuen on September 22, 2016 4:6_

Looks okay to me on my iOS 10.0.1 on my iPhone 6. How are you opening the application? I'm using Ionic View.

[2016-09-22 15:39] jgw96 commented on #251
_From @frankpolkm on September 22, 2016 13:12_

I just installed the latest version of Xcode, then using the command $ionic emulate, which pick up the default simulator setting: iPhone SE + iOS 10.

[2016-09-28 19:13] AbuHani commented on #237
Hi,

i have the same issue, when beta 12 release date??

[2016-09-28 21:09] astec opened #255 "README "Getting started" gives wrong instructions"
#### Short description of the problem:

Readme file recommend to install beta

#### What behavior are you expecting?

I expect it to recommend to install RC0

**Steps to reproduce:**
1. https://github.com/driftyco/ionic-conference-app
2. Search for `@beta`

[2016-09-28 21:10] #255 closed

[2016-09-28 21:10] brandyscarney commented on #255
Nice catch. Fixed :wink:

[2016-09-29 07:59] iAn-Pinto opened #256 "Build failed error on running $ ionic serve --lab"
#### Build failed error on running $ ionic serve --lab after running $ npm install:

Error: Module /Users/ianpinto/Documents/WebstormProjects/ionic-conference-app/node_modules/@angular/platform-browser-dynamic/esm/index.js does not export platformBrowserDynamic (imported by /Users/ianpinto/Documents/WebstormProjects/ionic-conference-app/.tmp/app/main.dev.js)
    at Module.trace (/Users/ianpinto/Do

[2016-09-29 11:09] ashutoshagg commented on #256
+1

[2016-09-29 14:57] yozman opened #257 "can't ionic serve"
I have an error
[code]

[2016-09-29 16:39] larssn commented on #257
Is this with a fresh clone, or a old one? Ionic was just updated to RC0, and a lot of breaking changes have happened.

[2016-09-30 04:21] yozman commented on #257
with the master branch,
and run `npm i`
then `ionic serve`

[2016-09-30 14:53] ashishtilara opened #258 "integration with ionic Auth, Analytics, Deploy and Push"
Hi,

I just wanted to confirm if there are any plans to adding examples of Auth, Analytics, Deploy and Push in this project?

cheers and Thank you for creating this awesome project, great resource to learn from.

[2016-10-01 06:42] RfanKD opened #259 "building sidemenu project with latest RC,"
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/

#### Short description of the problem:

#### What behavior are you expecting?

**Steps to reproduce:**
1.
2.
3.

[code]

**Other information:** (e.g. stacktraces, related issues, suggestions how to fix, stackoverflow links, forum links, etc)

**Run `ionic info

[2016-10-01 06:48] RfanKD opened #260 "building with latest RC, main.css doesn't seem to be generated"
Hi,

Thank you Ionic Team for the latest release candidate
but I seem to have a problem with I try to build with the sidemenu template

#### Short description of the problem:
building sidemenu project with latest RC and npm.
on first time starting the project up, the icons don't appear
when starting the project with ionic serve --lab, for a second, it seems the main.css has been removed from build

[2016-10-01 06:49] #259 closed

[2016-10-01 11:50] frankpolkm opened #261 "ionic state restore failed for RC0"
Would you please have a look? It's clean check out.

$ ionic state restore
Attempting to restore your Ionic application from package.json

Restoring Platforms

cordova platform add ios
cordova platform add android

Restore platforms is complete

Restoring Plugins

cordova plugin add cordova-plugin-whitelist
Caught exception:
 undefined

Mind letting us know? https://github.com/driftyco/ionic-cli/i

[2016-10-01 11:58] frankpolkm opened #262 "iOS status bar is white, can't see it"
Hi, iOS status bar is white for the latest code, can't see it.

[2016-10-01 15:05] alexbainbridge opened #263 "ionViewLoaded() has been deprecated. Please rename to ionViewDidLoad()"
#### Short description of the problem:

Console error stating old code used (pre RC0)

On the maps page by the looks of it

#### What behavior are you expecting?

No error in console

[2016-10-02 00:46] FugueWeb opened #264 "Following instructions for set up not working"
#### Short description of the problem:
I am following the instructions for simply setting up the app and they result in a variety of errors. As of today (October 1, 2016), is anyone able to get this app up and running? I describe the problem in more detail for cloning the `master` branch below, but by cloning the `typescript` branch and running `ionic serve`, I simply get a 404 on the `app.bundle.

[2016-10-02 15:48] pimenteljchristopher commented on #142
all dead @brandyscarney  find one if you want i could setp a working link hahah

[2016-10-02 15:55] AbuHani commented on #212
same issue any updates ?

[2016-10-02 16:33] FugueWeb commented on #264
Updating ionic to 2.1 worked. Note, you may need to first uninstall ionic before updating. Follow this link for more information about migration:

https://github.com/driftyco/ionic/blob/master/CHANGELOG.md#steps-to-upgrade-to-rc0

[2016-10-02 16:33] #264 closed

[2016-10-02 18:16] xgibbousx opened #268 "gulpfile.js not found on ionic serve"
Did the following:

1.  Ran “git clone https://github.com/driftyco/ionic-conference-app.git”.
2.  Ran “cd ionic-conference-app”.
3.  Ran “npm install”.
4.  Ran “ionic serve”.

Ionic serve says that gulpfile.js is not found as well as the www directory.

Is gulpfile.js supposed to already be a part of this project?

The readme says to essentially do the above with no mention of generating our own g

[2016-10-02 18:46] xgibbousx commented on #268
Problem solved by updating to Ionic version 2.1 with "npm install -g ionic".

[2016-10-02 18:46] #268 closed

[2016-10-02 19:32] xgibbousx opened #269 ""ionic start projectName conference --v2" command giving Cordova error"
#### Short description of the problem:

Ran "ionic start projectName conference --v2" and got "Error: Command failed: cordova plugin add --save cordova-plugin-device..." error during the "Adding initial native plugins" routine.

I have updated Ionic and Cordova by clearing npm cache, uninstalling both, and reinstalling both.

#### What behavior are you expecting?

To not get any errors.

**Steps t

[2016-10-02 20:43] xgibbousx opened #270 ""ionic serve" command not copying over "src/assets/fonts" to "www/assets/fonts" on build."
#### Short description of the problem:

"ionic serve" command not copying over "src/assets/fonts" to "www/assets/fonts" on build.

#### What behavior are you expecting?

For the fonts to copy over.

**Steps to reproduce:**
1. Run "ionic serve".
2. Get missing font errors in console.
3. Check the www/assets/fonts directory and see that there are not fonts in there.

**Run `ionic info` from terminal

[2016-10-03 08:40] SoaringTiger opened #271 "Error reading template file, "my-component-tpl.html"
#### Short description of the problem:
Error reading template file, "my-component-tpl.html": Error: ENOENT: no such file or directory, open '/Users/xxx/ionic-conference-app/node_modules/@ionic/storage/node_modules/@angular/core/src/animation/my-component-tpl.html'

**Steps to reproduce:**
1. Clone this repository
2.Run npm install from the project root
3.Run ionic serve in a terminal from the proj

[2016-10-03 09:49] SoaringTiger commented on #271
After updated to latest node(6.7.0) and npm(3.10.8), it works.

[2016-10-03 09:49] #271 closed

[2016-10-03 15:14] BradyLiles commented on #270
I'm getting the same issue ^^^^

[2016-10-03 15:35] Aristona commented on #263
Opened PR: https://github.com/driftyco/ionic-conference-app/pull/272

[2016-10-03 20:21] joshgarwood opened #273 "Android Roboto font no longer included in rc0"
#### Short description of the problem:
When getting a completely fresh clone of this repo, and running ionic serve`, the "Roboto" font is no longer included or automatically applied in rc0

#### What behavior are you expecting?
As per Beta 11 and before, I would expect the Roboto font to be applied for `md` mode.

**Steps to reproduce:**
1.  Get a fresh clone of the ionic-conference-app
2.  Run np

[2016-10-03 20:27] jgw96 commented on #263
Thanks! As i have merged the above mentioned PR I will be closing this issue.

[2016-10-03 20:27] #263 closed

[2016-10-03 20:28] jgw96 commented on #261
Hello @frankpolkm are you getting this issue with a fresh copy of the conference-app?

[2016-10-03 20:29] jgw96 commented on #260
This issue was moved to driftyco/ionic-app-scripts#82

[2016-10-03 20:29] #260 closed

[2016-10-03 20:30] jgw96 commented on #260
Hello, thanks for using Ionic! Since this is a build issue and not an issue with the conference app I have moved this issue to the app-scripts repo. Thanks!

[2016-10-03 20:30] jgw96 commented on #262
Hello, thanks for using Ionic! Unfortunately I cannot seem to reproduce this issue. Would you mind posting a screenshot of what you are seeing?

[2016-10-03 20:32] jgw96 commented on #257
Hello, thanks for using Ionic! Most likely this is caused by you running NPM 2. Would you mind updating to npm 3 by running `npm install -g npm`? Since i cannot reproduce this issue I will be closing this issue for now.

[2016-10-03 20:32] #257 closed

[2016-10-03 20:33] jgw96 commented on #248
Hello! Thanks for opening an issue with us! As this seems like more of a support question i will urge that you ask this question on our [forum](https://forum.ionicframework.com). Thanks for using Ionic!

[2016-10-03 20:33] #248 closed

[2016-10-03 20:34] jgw96 commented on #246
Hello! Thanks for opening an issue with us! As this seems like more of a support question i will urge that you ask this question on our [forum](https://forum.ionicframework.com). Thanks for using Ionic!

[2016-10-03 20:34] #246 closed

[2016-10-03 20:35] jgw96 commented on #237
Hello all! The conference app has now been updated to RC.0 which fixed the blocking bug. Because of this I will be closing this issue for now. Thanks!

[2016-10-03 20:35] #237 closed

[2016-10-03 20:36] jgw96 commented on #223
@bushev can you still reproduce this issue with the latest version of the conference app? Thanks!

[2016-10-03 20:37] jgw96 commented on #270
Hello, thanks for opening an issue with us. I am going to be closing this issue as a dupe of https://github.com/driftyco/ionic-app-scripts/issues/78.

[2016-10-03 20:37] #270 closed

[2016-10-03 20:38] jgw96 commented on #269
This issue was moved to driftyco/ionic-cli#1460

[2016-10-03 20:38] #269 closed

[2016-10-03 20:38] jgw96 commented on #269
Hello, thanks for using Ionic! Since this is an issue with the cli and not the conference app I have moved this issue to that repo. Thanks!

[2016-10-03 20:39] jgw96 commented on #256
This issue was moved to driftyco/ionic-app-scripts#83

[2016-10-03 20:39] #256 closed

[2016-10-03 20:40] jgw96 commented on #256
Hello, thanks for opening an issue with us! Since this is a build related issue and not an issue specific to the conference app I have moved this issue to the app-scripts repo. Thanks!

[2016-10-03 20:41] jgw96 commented on #273
Hello, thanks for opening an issue with us! I am going to close this issue as a duplicate of https://github.com/driftyco/ionic-app-scripts/issues/73. Thanks!

[2016-10-03 20:41] #273 closed

[2016-10-04 00:43] dragonahao opened #275 "Can't resolve all parameters for provideLocationStrategy"
**Note: for support questions, please use one of these channels:**

https://forum.ionicframework.com/
http://ionicworldwide.herokuapp.com/
#### Short description of the problem:
#### What behavior are you expecting?

**Steps to reproduce:**
1.
2.
3.

[code]

**Other information:** (e.g. stacktraces, related issues, suggestions how to fix, stackoverflow links, forum links, etc)

**Run `ionic info`

[2016-10-04 00:44] dragonahao commented on #275
i use ionic-conference demos and it occurred , what should i do to resolve it?

[2016-10-05 00:23] dragonahao commented on #275
Your system information:

Cordova CLI: 6.3.1
Gulp version:  CLI version 3.9.1
Gulp local:
Ionic Framework Version: 2.0.0-rc.0-201610041708
Ionic CLI Version: 2.1.0
Ionic App Lib Version: 2.0.0-beta.20
OS: Windows 8.1
Node Version: v6.7.0

[2016-10-05 06:31] iammash commented on #68
hello,
This might not be related to the issue above, but maybe someone can help me out. I am new to ionic and i would like to know how to go about renaming already created pages. For example when i create a project based on the ionic sidemenu template, i get page1 and page2 how do i rename those to my desired names.

I will appreciate any help.

[2016-10-05 14:54] brandyscarney commented on #68
hey @iammash, you can rename the folder for the page and all files inside of it, and then update any paths that use it. For example, here: https://github.com/driftyco/ionic2-starter-sidemenu/blob/master/src/app/app.component.ts#L5

You can then change the class name and any imports if you'd like. Or you could use our generator to add a new page: http://ionicframework.com/docs/v2/cli/generate/